Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

WIP: update to websocket backend
  node/coinstacks/bitcoin/docker-compose.yml
  node/coinstacks/common/api/src/index.ts
  node/coinstacks/common/api/src/registry.ts
  node/coinstacks/common/api/src/websocket.ts
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/ethereum/docker-compose.yml
  node/packages/blockbook/src/index.ts
  node/packages/blockbook/src/websocket.ts
Due: prettier --write

Remove unused types
  node/packages/client/src/types.ts
Due: prettier --write

Upgrade packages and add reconnect logic to tendermint ws client
  go/go.mod
  go/go.sum
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

Add comment about ignored message types
  go/cmd/cosmos/main.go
  go/cmd/osmosis/main.go
  go/cmd/thorchain/main.go
  go/go.mod
  go/pkg/cosmos/tx.go
Due: goimports -w

Upgrade packages and add reconnect logic to tendermint ws client (#355)
  go/cmd/cosmos/main.go
  go/cmd/osmosis/main.go
  go/cmd/thorchain/main.go
  go/go.mod
  go/go.sum
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

Reorganize types for easier extending pattern and start to add cosmos specific metadata
  node/coinstacks/bitcoin/ingester/src/workers/address.ts
  node/coinstacks/ethereum/ingester/src/workers/address.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/types.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/thor.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/ethereum/parser/zrx.ts
  node/packages/client/src/ethereum/types.ts
  node/packages/client/src/types.ts
Due: prettier --write

Add balance to redelegation and handle authz messages
  go/pkg/cosmos/account.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/types.go
Due: goimports -w

chore(release): publish 6.3.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

Add balance to redelegation and handle authz messages (#358)
  go/pkg/cosmos/account.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/types.go
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: goimports -w

parse cosmos txs
  node/packages/client/src/bitcoin/parser/__tests__/bitcoin.test.ts
  node/packages/client/src/bitcoin/parser/index.ts
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/standard.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/cosmos/types.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/types.ts
Due: prettier --write

PR review changes
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
Due: prettier --write

Remove to/from from metadata and use switch statement
  node/packages/client/package.json
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/cosmos/types.ts
Due: prettier --write

tests for delegate undelegate etc
  node/packages/client/src/cosmos/index.ts
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/delegate.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/redelegate.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/reward.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/undelegate.ts
Due: prettier --write

Fix unbonding test
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/undelegate.ts
Due: prettier --write

fix tests
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/redelegate.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/reward.ts
Due: prettier --write

WIP
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/cosmosSdkTypes.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/types.go
Due: goimports -w

fix tests
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/reward.ts
  node/packages/client/src/cosmos/parser/index.ts
Due: prettier --write

chore(release): publish 6.4.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

fix tests
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
Due: prettier --write

Cosmos tx parsing & types refactor for metadata (#359)
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/ingester/src/workers/address.ts
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/ingester/src/workers/address.ts
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/packages/client/src/bitcoin/parser/__tests__/bitcoin.test.ts
  node/packages/client/src/bitcoin/parser/index.ts
  node/packages/client/src/cosmos/index.ts
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/delegate.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/redelegate.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/reward.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/standard.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/undelegate.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/cosmos/types.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/thor.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/ethereum/parser/zrx.ts
  node/packages/client/src/ethereum/types.ts
  node/packages/client/src/types.ts
  node/pulumi/package.json
Due: prettier --write

minimal ibc transfer parsing
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/transfer.ts
  node/packages/client/src/cosmos/parser/index.ts
Due: prettier --write

chore(release): publish 6.5.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

Fix ibc parsing (#361)
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/transfer.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/pulumi/package.json
Due: prettier --write

Moar wip
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/pkg/cosmos/bank.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/cosmosSdkTypes.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/types.go
Due: goimports -w

Finish validator info and apr
  go/cmd/cosmos/main.go
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/pkg/api/api.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/cosmosSdkTypes.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/types.go
Due: goimports -w

Fix unsupported big number swagger type
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/cosmosSdkTypes.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/types.go
  node/packages/client/src/cosmos/parser/utils.ts
Due: prettier --write, goimports -w

Require validators
  go/pkg/cosmos/types.go
Due: goimports -w

chore(release): publish 6.6.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

review feedback
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/bank.go
Due: goimports -w

Cosmos info validator (#362)
  go/cmd/cosmos/main.go
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/pkg/api/api.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/bank.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/cosmosSdkTypes.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/types.go
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/packages/client/src/cosmos/parser/utils.ts
  node/pulumi/package.json
Due: prettier --write, goimports -w

feat: add additional yearn functions
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/yearnDeposit.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/yearnDepositShapeShiftRouter.ts
  node/packages/client/src/ethereum/parser/yearn.ts
Due: prettier --write

fix: update test data
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/tokens.ts
Due: prettier --write

chore: add effort and sponsor to bounty template
  .github/ISSUE_TEMPLATE/bounty.yml
Due: none

fix: indentation
  .github/ISSUE_TEMPLATE/bounty.yml
Due: none

fix: indentation, and this time I mean it
  .github/ISSUE_TEMPLATE/bounty.yml
Due: none

chore: add effort and sponsor to bounty template (#364)
  .github/ISSUE_TEMPLATE/bounty.yml
Due: none

feat: use TxParser enum for TxMetadata['parser']
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/thor.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/ethereum/parser/zrx.ts
  node/packages/client/src/types.ts
Due: prettier --write

chore: bump swagger-ui-express
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/ethereum/api/package.json
  node/packages/blockbook/package.json
  node/yarn.lock
Due: none

chore: bump swagger-ui-express (#365)
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/ethereum/api/package.json
  node/packages/blockbook/package.json
  node/yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.ts)
  goimports -w: any of: *.go
