Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

avalanche daemon
  node/coinstacks/avalanche/daemon/config.json
  node/coinstacks/avalanche/daemon/init.sh
  node/coinstacks/avalanche/pulumi/index.ts
Due: prettier --write

use local cosmos node
  .circleci/config.yml
Due: none

fix grpc port
  .circleci/config.yml
Due: none

cleanup
  .circleci/config.yml
  go/coinstacks/osmosis/daemon/init.sh
Due: none

feat: self hosted nodes (#546)
  .circleci/config.yml
  go/cmd/osmosis/main.go
  go/cmd/osmosis/sample.env
  go/cmd/thorchain/sample.env
  go/coinstacks/cosmos/daemon/init.sh
  go/coinstacks/cosmos/daemon/readiness.sh
  go/coinstacks/cosmos/pulumi/index.ts
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/daemon/init.sh
  go/coinstacks/osmosis/daemon/readiness.sh
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/osmosis/pulumi/index.ts
  go/coinstacks/osmosis/tx.go
  go/pkg/cosmos/tx.go
  node/coinstacks/avalanche/daemon/config.json
  node/coinstacks/avalanche/daemon/init.sh
  node/coinstacks/avalanche/pulumi/index.ts
  pulumi/src/statefulService.ts
Due: prettier --write, goimports -w

fix: ingressRoute flag to expose port over ingress (avoid multiple ports on single route 502)
  node/coinstacks/ethereum/daemon-beacon/readiness.sh
  node/coinstacks/ethereum/pulumi/index.ts
  pulumi/src/index.ts
  pulumi/src/statefulService.ts
Due: prettier --write

fix: ingressRoute flag to expose port over ingress (#547)
  node/coinstacks/ethereum/daemon-beacon/readiness.sh
  node/coinstacks/ethereum/pulumi/index.ts
  pulumi/src/index.ts
  pulumi/src/statefulService.ts
Due: prettier --write

chore: use self hosted cosmos node
  .circleci/config.yml
Due: none

chore: upgrade thorchain to v1.99.0
  .circleci/config.yml
Due: none

chore: use self hosted cosmos node (#548)
  .circleci/config.yml
Due: none

chore: upgrade thorchain to v1.99.0 (#549)
  .circleci/config.yml
Due: none

chore: resize cosmos daemon volume
  .circleci/config.yml
Due: none

chore: resize cosmos daemon volume (#550)
  .circleci/config.yml
Due: none

chore: remove datahub api key env var
  .circleci/config.yml
  go/cmd/cosmos/main.go
  go/cmd/cosmos/sample.env
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

additional cleanup
  .circleci/config.yml
  node/coinstacks/avalanche/sample.env
Due: none

chore: remove datahub api key env var (#551)
  .circleci/config.yml
  go/cmd/cosmos/main.go
  go/cmd/cosmos/sample.env
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/websocket.go
  node/coinstacks/avalanche/sample.env
Due: goimports -w

increase resources
  .circleci/config.yml
Due: none

update pv/pvc yaml example
  docs/volumes.md
Due: none

fix/unify readiness probes
  go/coinstacks/cosmos/daemon/readiness.sh
  go/coinstacks/osmosis/daemon/readiness.sh
  go/coinstacks/thorchain/daemon/readiness.sh
Due: none

chore: self hosted cleanup (#552)
  .circleci/config.yml
  docs/volumes.md
  go/coinstacks/cosmos/daemon/readiness.sh
  go/coinstacks/osmosis/daemon/readiness.sh
  go/coinstacks/thorchain/daemon/readiness.sh
Due: none

chore: build context for watcher service
  README.md
  docker-compose.yml
Due: none

chore: fix sample.env values for cosmos
  go/cmd/cosmos/sample.env
Due: none

chore: upgrade thorchain to v1.100.0
  .circleci/config.yml
Due: none

chore: upgrade thorchain to v1.100.0 (#554)
  .circleci/config.yml
Due: none

chore: upgrade midgard to v2.10.0
  .circleci/config.yml
Due: none

chore: upgrade midgard to v2.10.0 (#555)
  .circleci/config.yml
Due: none

chore: increase timescaledb resource allocation
  .circleci/config.yml
  go/coinstacks/thorchain/pulumi/index.ts
Due: prettier --write

chore: increase timescaledb resource allocation (#556)
  .circleci/config.yml
  go/coinstacks/thorchain/pulumi/index.ts
Due: prettier --write

copy of bitcoin files
  node/coinstacks/pivx/api/Dockerfile
  node/coinstacks/pivx/api/nodemon.json
  node/coinstacks/pivx/api/package.json
  node/coinstacks/pivx/api/src/app.ts
  node/coinstacks/pivx/api/src/controller.ts
  node/coinstacks/pivx/api/src/swagger.json
  node/coinstacks/pivx/api/tsconfig.json
  node/coinstacks/pivx/api/tsoa.json
  node/coinstacks/pivx/daemon/init.sh
  node/coinstacks/pivx/daemon/readiness.sh
  node/coinstacks/pivx/docker-compose.yml
  node/coinstacks/pivx/indexer/Makefile
  node/coinstacks/pivx/indexer/config.json
  node/coinstacks/pivx/indexer/liveness.sh
  node/coinstacks/pivx/indexer/readiness.sh
  node/coinstacks/pivx/pulumi/Pulumi.yaml
  node/coinstacks/pivx/pulumi/index.ts
  node/coinstacks/pivx/pulumi/package.json
  node/coinstacks/pivx/pulumi/tsconfig.json
  node/coinstacks/pivx/sample.env
Due: prettier --write

modified bitcoin in pivx
  node/coinstacks/pivx/api/Dockerfile
  node/coinstacks/pivx/api/nodemon.json
  node/coinstacks/pivx/api/package.json
  node/coinstacks/pivx/api/src/app.ts
  node/coinstacks/pivx/api/src/swagger.json
  node/coinstacks/pivx/daemon/init.sh
  node/coinstacks/pivx/docker-compose.yml
  node/coinstacks/pivx/indexer/Makefile
  node/coinstacks/pivx/indexer/config.json
  node/coinstacks/pivx/pulumi/Pulumi.yaml
  node/coinstacks/pivx/pulumi/index.ts
  node/coinstacks/pivx/pulumi/package.json
  node/coinstacks/pivx/sample.env
  node/package.json
Due: prettier --write

add pivx to circle config
  .circleci/config.yml
Due: none

added slip44
  node/coinstacks/pivx/indexer/config.json
Due: none

typo
  .circleci/config.yml
Due: none

chore: use self hosted nodes for avalanche
  node/coinstacks/avalanche/indexer/config.json
Due: none

chore: use self hosted nodes for avalanche (#558)
  node/coinstacks/avalanche/indexer/config.json
Due: none

chore: upgrade and update daemons
  .circleci/config.yml
  go/coinstacks/thorchain/indexer/config.json
Due: none

chore: follow up avax config tweaks
  .circleci/config.yml
  node/coinstacks/avalanche/daemon/init.sh
  node/coinstacks/avalanche/daemon/readiness.sh
  node/coinstacks/avalanche/indexer/config.json
Due: none

chore: follow up avax config tweaks (#560)
  .circleci/config.yml
  node/coinstacks/avalanche/daemon/init.sh
  node/coinstacks/avalanche/daemon/readiness.sh
  node/coinstacks/avalanche/indexer/config.json
Due: none

chore: remove outdated readme contents
  go/README.md
Due: none
