Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

feat: add support for additional yearn functions (#363)
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/tokens.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/yearnDeposit.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/yearnDepositShapeShiftRouter.ts
  node/packages/client/src/ethereum/parser/yearn.ts
Due: prettier --write

chore(release): publish 6.7.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

fix: botched merge
  node/coinstacks/ethereum/api/package.json
Due: none

chore(release): publish 6.7.0 (#370)
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

add debug logs for cosmos
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/block.go
Due: goimports -w

add debug logs for cosmos (#373)
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/block.go
Due: goimports -w

moar logs
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/block.go
Due: goimports -w

better logging
  go/pkg/cosmos/block.go
Due: goimports -w

Debug logs cosmos3 (#375)
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/block.go
Due: goimports -w

remove debug logs and add nil checks
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/block.go
Due: goimports -w

remove debugging code
  go/pkg/cosmos/block.go
Due: goimports -w

don't remove the request to get block
  go/pkg/cosmos/block.go
Due: goimports -w

remove debug logs and add nil checks (#378)
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/block.go
Due: goimports -w

only bother trying to put together transactions for registered addresses
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/handlers.go
  go/pkg/cosmos/websocket.go
  go/pkg/websocket/registry.go
Due: goimports -w

Only get blocks to put together txs for registered addresses (#379)
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/handlers.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/websocket.go
  go/pkg/websocket/registry.go
Due: goimports -w

chore: fix type
  node/packages/client/src/cosmos/types.ts
Due: prettier --write

chore: use enum type in test
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
Due: prettier --write

feat: use TxParser enum for TxMetadata['parser'] (#354)
  node/packages/client/src/cosmos/types.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/thor.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/ethereum/parser/zrx.ts
  node/packages/client/src/types.ts
Due: prettier --write

ibc tx parsing
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/ibc_receive.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/ibc_send.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/cosmos/types.ts
Due: prettier --write

add osmosis things
  node/packages/client/openapitools.json
  node/packages/client/src/index.ts
Due: prettier --write

osmosis package
  node/packages/client/src/osmosis/index.ts
  node/packages/client/src/osmosis/parser/__tests__/cosmos.test.ts
  node/packages/client/src/osmosis/parser/__tests__/mockData/delegate.ts
  node/packages/client/src/osmosis/parser/__tests__/mockData/redelegate.ts
  node/packages/client/src/osmosis/parser/__tests__/mockData/reward.ts
  node/packages/client/src/osmosis/parser/__tests__/mockData/standard.ts
  node/packages/client/src/osmosis/parser/__tests__/mockData/transfer.ts
  node/packages/client/src/osmosis/parser/__tests__/mockData/undelegate.ts
  node/packages/client/src/osmosis/parser/index.ts
  node/packages/client/src/osmosis/parser/utils.ts
  node/packages/client/src/osmosis/types.ts
Due: prettier --write

add missing osmosis api functions
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
Due: goimports -w

osmosis
  node/packages/client/src/osmosis/parser/utils.ts
  node/packages/client/src/types.ts
Due: prettier --write

fix osmosis api
  go/cmd/osmosis/main.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
Due: goimports -w

chore(release): publish 6.8.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

chore(release): publish 6.8.0 (#381)
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

Release v6.8.0 (#382)
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/handlers.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/websocket.go
  go/pkg/websocket/registry.go
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/packages/client/src/cosmos/types.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/tokens.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/yearnDeposit.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/yearnDepositShapeShiftRouter.ts
  node/packages/client/src/ethereum/parser/thor.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/ethereum/parser/zrx.ts
  node/packages/client/src/types.ts
  node/pulumi/package.json
Due: prettier --write, goimports -w

make account endpoint use async calls to the node
  go/coinstacks/cosmos/api/handlers.go
Due: goimports -w

fix return vales
  go/coinstacks/cosmos/api/handlers.go
Due: goimports -w

use error groups for cleaner async error logic
  go/coinstacks/cosmos/api/handlers.go
  go/go.mod
  go/go.sum
Due: goimports -w

Account & info endpoints make calls asynchronously (#384)
  go/coinstacks/cosmos/api/handlers.go
  go/go.mod
  go/go.sum
Due: goimports -w

chore: new issue template
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

cleanup
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/index.ts
Due: prettier --write

rework transaction parsing to handle ibc and other transactions that need to parse events
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/ibc_send.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/transfer.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
Due: prettier --write

remove log
  node/packages/client/src/cosmos/parser/utils.ts
Due: prettier --write

cleanup
  node/packages/client/src/cosmos/parser/utils.ts
Due: prettier --write

better variable names
  node/packages/client/src/cosmos/parser/utils.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.ts)
  goimports -w: any of: *.go
