Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

chore: upgrade bitcoin v23.0
  .circleci/config.yml
  node/coinstacks/bitcoin/pulumi/Pulumi.sample.yaml
Due: none

manually rebuild blockbook docker image
  node/pulumi/index.ts
Due: prettier --write

chore: upgrade bitcoin v23.0 (#528)
  .circleci/config.yml
  node/coinstacks/bitcoin/pulumi/Pulumi.sample.yaml
  node/pulumi/index.ts
Due: prettier --write

chore: remove manual rebuild
  node/pulumi/index.ts
Due: prettier --write

remove redundant pointer ref
  go/pkg/cosmos/block.go
  go/pkg/cosmos/tx.go
Due: goimports -w

remove type registry for now
  go/coinstacks/thorchain/events.go
Due: goimports -w

match event block fees if possible
  go/coinstacks/thorchain/api/handler.go
  go/coinstacks/thorchain/api/types.go
  go/coinstacks/thorchain/events.go
  go/coinstacks/thorchain/thorchain.go
Due: goimports -w

go mod tidy
  go/go.sum
Due: none

remove MsgDeposit until it can be tested more thoroughly
  go/coinstacks/thorchain/thorchain.go
Due: goimports -w

feat: thorchain swap transaction history detection (#512)
  go/coinstacks/thorchain/api/handler.go
  go/coinstacks/thorchain/api/types.go
  go/coinstacks/thorchain/events.go
  go/coinstacks/thorchain/thorchain.go
  go/go.mod
  go/go.sum
  go/pkg/api/api.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/cursor.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/types.go
Due: goimports -w

do not remove duplicate txids to allow for thorchain multi part txs
  go/pkg/cosmos/history.go
Due: goimports -w

require all message fields to improve client side usage
  go/pkg/cosmos/models.go
Due: goimports -w

update naming and use Quote method
  go/coinstacks/thorchain/events.go
Due: goimports -w

handle msgdeposit and add memo to events
  go/coinstacks/thorchain/thorchain.go
Due: goimports -w

break out tx functionality and handle error log
  go/coinstacks/thorchain/thorchain.go
  go/coinstacks/thorchain/tx.go
Due: goimports -w

return empty array instead of nil
  go/pkg/cosmos/history.go
Due: goimports -w

handle error log and use packet data
  go/pkg/cosmos/tx.go
Due: goimports -w

common CoinToValue func
  go/coinstacks/osmosis/tx.go
  go/coinstacks/thorchain/tx.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/tx.go
Due: goimports -w

rename func
  go/coinstacks/thorchain/tx.go
Due: goimports -w

feat: handle msgdeposit (#529)
  go/coinstacks/osmosis/tx.go
  go/coinstacks/thorchain/events.go
  go/coinstacks/thorchain/thorchain.go
  go/coinstacks/thorchain/tx.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/tx.go
Due: goimports -w

fix: try to get value from transfer amount for recv_packet
  go/pkg/cosmos/tx.go
Due: goimports -w

Updated readme
  README.md
  docs/docker-desktop.md
  docs/minikube.md
  go/README.md
Due: none

indent fix
  go/README.md
Due: none

Comment's addressed
  README.md
Due: none

Node section added
  README.md
Due: none

feat: propagate subscription id for multi account support
  go/pkg/websocket/registry.go
  go/pkg/websocket/websocket.go
Due: goimports -w

docs: updated readme with some more details (#531)
  README.md
  docs/docker-desktop.md
  docs/minikube.md
  go/README.md
Due: none

feat: propagate subscription id for multi account support (#532)
  go/pkg/websocket/registry.go
  go/pkg/websocket/websocket.go
Due: goimports -w

chore: scale back down after migration
  .circleci/config.yml
Due: none

ValidatorTx api definition
  go/pkg/api/api.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/handler.go
Due: goimports -w

Initial route added
  go/coinstacks/cosmos/api/api.go
  go/pkg/cosmos/api.go
Due: goimports -w

Readme update
  README.md
Due: none

Code style restored
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/docker-compose.yml
  go/pkg/api/api.go
Due: goimports -w

Restore docker volume mapping
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/docker-compose.yml
Due: goimports -w

Remove not needed impl
  go/coinstacks/cosmos/api/api.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/handler.go
Due: goimports -w

Fix fn ref
  go/pkg/cosmos/api.go
Due: goimports -w

feat: websocket detection of endBlockEvents
  go/coinstacks/thorchain/api/handler.go
  go/coinstacks/thorchain/api/types.go
  go/coinstacks/thorchain/events.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

chore: upgrade thorchain to v1.97.3
  .circleci/config.yml
Due: none

chore: upgrade thorchain to v1.97.3 (#535)
  .circleci/config.yml
Due: none

cache parsed events on subsequent calls to event indices in same block
  go/coinstacks/thorchain/api/handler.go
  go/pkg/cosmos/websocket.go
Due: goimports -w
