Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

re add stuff
  go/cmd/osmosis/main.go
Due: goimports -w

fix messages
  go/coinstacks/osmosis/api/handlers.go
Due: goimports -w

remove unused
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
Due: goimports -w

fix comment
  go/coinstacks/osmosis/api/types.go
Due: goimports -w

osmosis integration (#417)
  go/cmd/osmosis/main.go
  go/cmd/thorchain/main.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
Due: goimports -w

Remove need for registry/getBlock requests and allow websocket to control data flow
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

Remove now unused openjdk dependency from CI
  .circleci/config.yml
Due: none

Remove now unused openjdk dependency from CI (#419)
  .circleci/config.yml
Due: none

Clean unhandledTxs map on reconnect
  go/pkg/cosmos/websocket.go
Due: goimports -w

Update osmosis and thorchain txHandler funcs
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/handlers.go
Due: goimports -w

Remove need for registry/getBlock requests and allow websocket to control data flow (#418)
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/handlers.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

Add grpc url for osmosis
  .circleci/config.yml
Due: none

Add grpc url for osmosis (#420)
  .circleci/config.yml
Due: none

Add GRPC_URL to sample env for secrets injection
  go/cmd/osmosis/sample.env
Due: none

Add GRPC_URL to sample env for secrets injection (#421)
  go/cmd/osmosis/sample.env
Due: none

WIP
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/ingester/src/workers/address.ts
  node/coinstacks/common/api/src/registry.ts
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/ingester/src/workers/address.ts
  node/coinstacks/ethereum/ingester/src/workers/newBlock.ts
  node/coinstacks/ethereum/ingester/src/workers/tx.ts
Due: prettier --write

websocket hardening and custom address/tx handlers
  go/pkg/websocket/registry.go
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/ingester/src/workers/address.ts
  node/coinstacks/common/api/src/registry.ts
  node/coinstacks/common/api/src/websocket.ts
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/ethereum/api/src/models.ts
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/ingester/src/workers/address.ts
  node/coinstacks/ethereum/ingester/src/workers/newBlock.ts
  node/coinstacks/ethereum/ingester/src/workers/tx.ts
  node/packages/blockbook/src/index.ts
  node/packages/blockbook/src/websocket.ts
  node/yarn.lock
Due: prettier --write, goimports -w

Build out handlers and internal tx support for eth
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/handlers.ts
  node/coinstacks/common/api/src/index.ts
  node/coinstacks/common/api/src/registry.ts
  node/coinstacks/common/api/src/types.ts
  node/coinstacks/common/api/src/websocket.ts
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/handlers.ts
  node/packages/blockbook/package.json
  node/packages/blockbook/src/controller.ts
  node/packages/blockbook/src/websocket.ts
  node/yarn.lock
Due: prettier --write

bump unchained-client package version in ingesters
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/yarn.lock
Due: none

Update parser constructors
  node/coinstacks/bitcoin/ingester/src/workers/address.ts
  node/coinstacks/ethereum/ingester/src/workers/address.ts
  node/coinstacks/ethereum/ingester/src/workers/tx.ts
Due: prettier --write

add dependencies for now peerDependencies in unchained-client
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/yarn.lock
Due: none

Unchained client v8.2.0 (#422)
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/ingester/src/workers/address.ts
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/ingester/src/workers/address.ts
  node/coinstacks/ethereum/ingester/src/workers/tx.ts
  node/yarn.lock
Due: prettier --write

Update bitcoin and add es2020 for promise.allSettled
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/handlers.ts
  node/coinstacks/bitcoin/api/src/models.ts
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/ethereum/api/src/handlers.ts
  node/tsconfig.json
  node/yarn.lock
Due: prettier --write

Add getTransaction and getRawTransaction bitcoin
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/models.ts
Due: prettier --write

Add tx endpoints and separate handleTransaction methods by internal tx fetching
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/handlers.ts
  node/coinstacks/bitcoin/api/src/models.ts
  node/coinstacks/common/api/src/models.ts
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/handlers.ts
  node/coinstacks/ethereum/api/src/models.ts
  node/coinstacks/ethereum/api/src/types.ts
Due: prettier --write

Use unique api key for osmosis until official can be created
  .circleci/config.yml
Due: none

Use unique api key for osmosis until official can be created (#423)
  .circleci/config.yml
Due: none

fix: circle type
  .circleci/config.yml
Due: none

try diff expression
  .circleci/config.yml
Due: none

Use quotes
  .circleci/config.yml
Due: none

attempt non 0 exit code
  .circleci/config.yml
Due: none

Internal tx history processing working
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/common/api/src/models.ts
  node/coinstacks/common/api/src/types.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/handlers.ts
  node/coinstacks/ethereum/api/src/types.ts
Due: prettier --write

pass with no tests
  node/package.json
Due: none

return undefined addresses if not xpub
  node/coinstacks/bitcoin/api/src/controller.ts
Due: prettier --write

checksum format internal txs from etherscan
  node/coinstacks/ethereum/api/src/handlers.ts
Due: prettier --write

review feedback
  node/coinstacks/common/api/src/registry.ts
  node/coinstacks/common/api/src/websocket.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/handlers.ts
  node/packages/blockbook/src/index.ts
Due: prettier --write

rework chained initializers into required construction args
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoin/api/src/handlers.ts
  node/coinstacks/common/api/src/registry.ts
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/ethereum/api/src/handlers.ts
Due: prettier --write

review feedback
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/common/api/src/registry.ts
  node/coinstacks/common/api/src/websocket.ts
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/packages/blockbook/src/websocket.ts
Due: prettier --write

Don't send ping message from server
  go/pkg/websocket/websocket.go
Due: goimports -w

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.ts)
  goimports -w: any of: *.go
