Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

update ethereum and avalanche apis with new estimateGas return type and examples
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/ethereum/api/src/controller.ts
Due: prettier --write

add l1 gasLimit and gasPrice for accurate estimation
  node/coinstacks/optimism/api/src/controller.ts
Due: prettier --write

regen swagger
  node/coinstacks/avalanche/api/src/swagger.json
  node/coinstacks/ethereum/api/src/swagger.json
  node/coinstacks/optimism/api/src/swagger.json
Due: none

optimism specific models (l1 data)
  node/coinstacks/optimism/api/src/models.ts
Due: prettier --write

remove optimism sdk in favor of ethers and direct contract interaction (sdk gas estimation incorrect)
  node/coinstacks/optimism/api/package.json
  node/coinstacks/optimism/api/src/controller.ts
  node/yarn.lock
Due: prettier --write

feat: optimism l1 fees (#601)
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/api/src/swagger.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/api/src/evm/models.ts
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/swagger.json
  node/coinstacks/optimism/api/package.json
  node/coinstacks/optimism/api/src/controller.ts
  node/coinstacks/optimism/api/src/models.ts
  node/coinstacks/optimism/api/src/swagger.json
  node/yarn.lock
Due: prettier --write

add initial cut of bnb smart chain (daemon deployed)
  docker-compose.yml
  node/coinstacks/bnbsmartchain/api/Dockerfile
  node/coinstacks/bnbsmartchain/api/nodemon.json
  node/coinstacks/bnbsmartchain/api/package.json
  node/coinstacks/bnbsmartchain/api/src/app.ts
  node/coinstacks/bnbsmartchain/api/src/controller.ts
  node/coinstacks/bnbsmartchain/api/tsconfig.json
  node/coinstacks/bnbsmartchain/api/tsoa.json
  node/coinstacks/bnbsmartchain/daemon/Dockerfile
  node/coinstacks/bnbsmartchain/daemon/init-archive.sh
  node/coinstacks/bnbsmartchain/daemon/init.sh
  node/coinstacks/bnbsmartchain/daemon/readiness.sh
  node/coinstacks/bnbsmartchain/docker-compose.yml
  node/coinstacks/bnbsmartchain/indexer/Makefile
  node/coinstacks/bnbsmartchain/indexer/config.json
  node/coinstacks/bnbsmartchain/indexer/liveness.sh
  node/coinstacks/bnbsmartchain/indexer/readiness.sh
  node/coinstacks/bnbsmartchain/pulumi/Pulumi.yaml
  node/coinstacks/bnbsmartchain/pulumi/index.ts
  node/coinstacks/bnbsmartchain/pulumi/package.json
  node/coinstacks/bnbsmartchain/pulumi/tsconfig.json
  node/coinstacks/bnbsmartchain/sample.env
Due: prettier --write

chore: upgrade thorchain 1.104.0
  .circleci/config.yml
Due: none

chore(optimism): increase readiness failure threshold for daemon
  node/coinstacks/optimism/daemon/readiness.sh
  node/coinstacks/optimism/pulumi/index.ts
Due: prettier --write

chore: upgrade thorchain 1.104.0 (#603)
  .circleci/config.yml
Due: none

feat(osmosis): parse join_pool, exit_pool messages
  go/coinstacks/osmosis/tx.go
  go/pkg/cosmos/cosmos.go
Due: goimports -w

fix(cosmos): remove whitespace
  go/pkg/cosmos/cosmos.go
Due: goimports -w

chore: use archive nodes for cosmos and osmosis (no pruning)
  .circleci/config.yml
  go/coinstacks/cosmos/daemon/init.sh
  go/coinstacks/osmosis/daemon/init.sh
Due: none

chore: use archive nodes for cosmos and osmosis (no pruning) (#604)
  .circleci/config.yml
  go/coinstacks/cosmos/daemon/init.sh
  go/coinstacks/osmosis/daemon/init.sh
Due: none

chore: update blockbook optimism version to support l1 fees
  .circleci/config.yml
Due: none

chore: update blockbook optimism version to support l1 fees (#607)
  .circleci/config.yml
Due: none

chore: support request/limit for resources
  .circleci/config.yml
  pulumi/src/config.ts
  pulumi/src/index.ts
  pulumi/src/statefulService.ts
Due: prettier --write

chore: support request/limit for resources (#608)
  .circleci/config.yml
  pulumi/src/config.ts
  pulumi/src/index.ts
  pulumi/src/statefulService.ts
Due: prettier --write

chore: support memoryRequest for golang coinstack deploy
  .circleci/config.yml
Due: none

chore: support memoryRequest for golang coinstack deploy (#609)
  .circleci/config.yml
Due: none

refactor: remove unnecessary parsers
  go/pkg/cosmos/cosmos.go
Due: goimports -w

fix: apply code review suggestions
  go/coinstacks/osmosis/tx.go
Due: goimports -w

feat(osmosis): parse join_pool, exit_pool messages (#606)
  go/coinstacks/osmosis/tx.go
Due: goimports -w

chore(optimism): increase readiness failure threshold for daemon (#605)
  node/coinstacks/optimism/daemon/readiness.sh
  node/coinstacks/optimism/pulumi/index.ts
Due: prettier --write

chore: add common golang coinstack files to api hash
  go/pulumi/src/api.ts
Due: prettier --write

chore: add common golang coinstack files to api hash (#610)
  go/pulumi/src/api.ts
Due: prettier --write

chore: upgrade thornode to v1.105.0
  .circleci/config.yml
Due: none

chore: upgrade avalanche to v1.9.8
  .circleci/config.yml
Due: none

chore: upgrade thornode to v1.105.0 (#612)
  .circleci/config.yml
Due: none

chore: upgrade avalanche to v1.9.8 (#613)
  .circleci/config.yml
Due: none

chore: upgrade midgard to v2.13.0
  .circleci/config.yml
Due: none

chore: upgrade midgard to v2.13.0 (#614)
  .circleci/config.yml
Due: none

hotfix: update midgard config to remove deprecated proxied_whitelisted_endpoints
  go/coinstacks/thorchain/indexer/config.json
Due: none

chore: use forked omnibus images and configure as full nodes
  .circleci/config.yml
  go/coinstacks/cosmos/daemon/init.sh
  go/coinstacks/osmosis/daemon/init.sh
Due: none

chore: use forked omnibus images and configure as full nodes (#615)
  .circleci/config.yml
  go/coinstacks/cosmos/daemon/init.sh
  go/coinstacks/osmosis/daemon/init.sh
Due: none

hotfix: use cosmos v7.1.1 version
  .circleci/config.yml
Due: none

add circle job and update blockbook config
  .circleci/config.yml
  node/coinstacks/bnbsmartchain/indexer/config.json
  node/coinstacks/bnbsmartchain/pulumi/index.ts
Due: prettier --write

chore: adds page size validation to all UTXO and EVM coinstacks
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/common/api/src/utils.ts
  node/coinstacks/common/api/src/utxo/service.ts
Due: prettier --write

fix: early return on bad page params for cosmos / osmosis
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/pkg/cosmos/api.go
Due: goimports -w

remove docs
  node/coinstacks/common/api/src/utils.ts
Due: prettier --write
