Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

chore: upgrade and update daemons (#559)
  .circleci/config.yml
  go/coinstacks/thorchain/indexer/config.json
Due: none

fix daemon config and incorrect port mapping
  node/coinstacks/avalanche/daemon/init.sh
  node/coinstacks/avalanche/pulumi/index.ts
Due: prettier --write

update host match to include both prod and dev endpoints
  pulumi/src/api.ts
  pulumi/src/statefulService.ts
Due: prettier --write

fix: avax config and host match (#561)
  node/coinstacks/avalanche/daemon/init.sh
  node/coinstacks/avalanche/pulumi/index.ts
  pulumi/src/api.ts
  pulumi/src/statefulService.ts
Due: prettier --write

fix: mutex lock to prevent concurrent write panic
  go/pkg/websocket/websocket.go
Due: goimports -w

fix: mutex lock to prevent concurrent write panic (#562)
  go/pkg/websocket/websocket.go
Due: goimports -w

early return on failed transaction as there would have been no value transferred
  go/coinstacks/thorchain/tx.go
  go/pkg/cosmos/tx.go
Due: goimports -w

handle both sides of swap_exact_amount_in message
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/osmosis/tx.go
Due: goimports -w

feat: handle osmosis swap_exact_amount_in (#563)
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/osmosis/tx.go
  go/coinstacks/thorchain/tx.go
  go/pkg/cosmos/tx.go
Due: goimports -w

chore: upgrade bitcoin cash to v25.0.0
  .circleci/config.yml
Due: none

chore: increase eks node group scale limit
  .circleci/config.yml
Due: none

chore: upgrade bitcoin cash to v25.0.0 (#564)
  .circleci/config.yml
Due: none

chore: increase eks node group scale limit (#565)
  .circleci/config.yml
Due: none

add optimism coinstack
  node/coinstacks/optimism/api/Dockerfile
  node/coinstacks/optimism/api/nodemon.json
  node/coinstacks/optimism/api/package.json
  node/coinstacks/optimism/api/src/app.ts
  node/coinstacks/optimism/api/src/controller.ts
  node/coinstacks/optimism/api/src/swagger.json
  node/coinstacks/optimism/api/tsconfig.json
  node/coinstacks/optimism/api/tsoa.json
  node/coinstacks/optimism/daemon/init.sh
  node/coinstacks/optimism/docker-compose.yml
  node/coinstacks/optimism/dtl/init.sh
  node/coinstacks/optimism/indexer/Makefile
  node/coinstacks/optimism/indexer/config.json
  node/coinstacks/optimism/indexer/liveness.sh
  node/coinstacks/optimism/indexer/readiness.sh
  node/coinstacks/optimism/pulumi/Pulumi.yaml
  node/coinstacks/optimism/pulumi/index.ts
  node/coinstacks/optimism/pulumi/package.json
  node/coinstacks/optimism/pulumi/tsconfig.json
  node/coinstacks/optimism/sample.env
Due: prettier --write

add optimism ci jobs
  .circleci/config.yml
Due: none

update docker compose networking
  docker-compose.yml
  node/coinstacks/optimism/daemon/init.sh
  node/coinstacks/optimism/docker-compose.yml
Due: none

feat: prefix q cashaddr with bitcoincash:
  node/coinstacks/bitcoincash/api/src/controller.ts
Due: prettier --write

feat: inject addressFormater in UTXO service and consume in bitcoincash controller
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/common/api/src/utxo/service.ts
Due: prettier --write

fix: tsc, maybe?
  node/coinstacks/common/api/src/utxo/service.ts
Due: prettier --write

feat: less stack-traces
  node/coinstacks/avalanche/api/src/app.ts
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoincash/api/src/app.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/litecoin/api/src/app.ts
Due: prettier --write

feat: getTxHistory formatAddress
  node/coinstacks/common/api/src/utxo/service.ts
Due: prettier --write

feat: bip21 prefix support for BTC and add comments
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
Due: prettier --write

feat: don't prefix bip32 bitcoin: url scheme
  node/coinstacks/bitcoin/api/src/controller.ts
Due: prettier --write

feat: handle litecoin: prefixed BIP32s
  node/coinstacks/litecoin/api/src/controller.ts
Due: prettier --write

feat: remove bip32 prefix checks entirely
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/litecoin/api/src/controller.ts
Due: prettier --write

feat: bring back cashaddr prefix handling and add big comment
  node/coinstacks/bitcoincash/api/src/controller.ts
Due: prettier --write

feat: prefix q cashaddr with bitcoincash: (#574)
  node/coinstacks/avalanche/api/src/app.ts
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/app.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/common/api/src/utxo/service.ts
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/litecoin/api/src/app.ts
  node/coinstacks/litecoin/api/src/controller.ts
Due: prettier --write

chore: upgrade thorchain to v1.101.0
  .circleci/config.yml
Due: none

chore: upgrade avalanche to v1.9.4
  .circleci/config.yml
Due: none

chore: upgrade thorchain to v1.101.0 (#575)
  .circleci/config.yml
Due: none

chore: upgrade avalanche to v1.9.4 (#576)
  .circleci/config.yml
Due: none

chore: upgrade osmosis to v13.0.0
  .circleci/config.yml
Due: none

fix readiness probe condition syntax
  go/coinstacks/osmosis/daemon/readiness.sh
Due: none

chore: upgrade osmosis to v13.0.0 (#577)
  .circleci/config.yml
  go/coinstacks/osmosis/daemon/readiness.sh
Due: none

hotfix: use release candidate osmosis image v13.0.0
  .circleci/config.yml
Due: none

hotfix: replace with formal release image
  .circleci/config.yml
  go/coinstacks/cosmos/daemon/readiness.sh
Due: none

Validators paging
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/types.go
Due: goimports -w

fix: add format address doge and propagate for all utxo coins
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/dogecoin/api/src/app.ts
  node/coinstacks/dogecoin/api/src/controller.ts
  node/coinstacks/litecoin/api/src/controller.ts
Due: prettier --write

fix: add format address doge and propagate for all utxo coins (#579)
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/dogecoin/api/src/app.ts
  node/coinstacks/dogecoin/api/src/controller.ts
  node/coinstacks/litecoin/api/src/controller.ts
Due: prettier --write

cleanup validators and pagination params
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/cosmos/api/swagger.json
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/api/swagger.json
  go/coinstacks/thorchain/api/api.go
  go/coinstacks/thorchain/api/swagger.json
  go/pkg/api/api.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/staking.go
Due: goimports -w
