Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

fix: urls and resty client creation (#489)
  .circleci/config.yml
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/thorchain/api/handler.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/models.go
Due: goimports -w

feat: add /tx endpoint to golang coinstacks
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/api.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/unchainedTypes.go
Due: goimports -w

fix: unique label and resize daemon volume
  .circleci/config.yml
  go/pulumi/src/statefulService.ts
Due: prettier --write

fix: unique label and resize daemon volume (#490)
  .circleci/config.yml
  go/pulumi/src/statefulService.ts
Due: prettier --write

process more event types
  go/pkg/cosmos/tx.go
Due: goimports -w

feat: add /tx endpoint to golang coinstacks (#491)
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/api.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/unchainedTypes.go
Due: goimports -w

match types with node api server and use events for additional detail parsing
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/tx.go
  go/coinstacks/thorchain/api/handler.go
  go/pkg/api/api.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/tx.go
Due: goimports -w

thorchain message parsing
  go/coinstacks/thorchain/api/handler.go
  go/coinstacks/thorchain/thorchain.go
  go/pkg/cosmos/tx.go
Due: goimports -w

chore: upgrade geth to v1.10.23
  .circleci/config.yml
Due: none

chore: upgrade geth to v1.10.23 (#494)
  .circleci/config.yml
Due: none

fix: path prefix routing and strip prefix support
  go/coinstacks/thorchain/pulumi/index.ts
  go/pulumi/src/index.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

fix: path prefix routing and strip prefix support (#495)
  go/coinstacks/thorchain/pulumi/index.ts
  go/pulumi/src/index.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

default pubkey if not found
  go/pkg/cosmos/account.go
  go/pkg/cosmos/tx.go
Due: goimports -w

use events to further build out message payloads (#493)
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/tx.go
  go/coinstacks/thorchain/api/handler.go
  go/coinstacks/thorchain/thorchain.go
  go/pkg/api/api.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/tx.go
Due: goimports -w

fix: custom midgard config and supporting code
  go/.gitignore
  go/coinstacks/thorchain/indexer/config.json
  go/coinstacks/thorchain/pulumi/index.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

chore: upgrade thornode to v1.96.1
  .circleci/config.yml
Due: none

chore: upgrade midgard to v2.9.4
  .circleci/config.yml
Due: none

fix: custom midgard config and supporting code (#497)
  go/.gitignore
  go/coinstacks/thorchain/indexer/config.json
  go/coinstacks/thorchain/pulumi/index.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

chore: upgrade thornode to v1.96.1 (#498)
  .circleci/config.yml
Due: none

chore: upgrade midgard to v2.9.4 (#499)
  .circleci/config.yml
Due: none

Revert "chore: upgrade midgard to v2.9.4 (#499)"
  .circleci/config.yml
Due: none

Revert "chore: upgrade midgard to v2.9.4" (#500)
  .circleci/config.yml
Due: none

chore: upgrade midgard to v2.9.4 and update config to match
  .circleci/config.yml
  go/coinstacks/thorchain/indexer/config.json
Due: none

chore: upgrade midgard to v2.9.4 and update config to match (#501)
  .circleci/config.yml
  go/coinstacks/thorchain/indexer/config.json
Due: none

coin specific parse fees function supports thorchain default 0.02 RUNE fee that isn't a fee...
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/thorchain/api/handler.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/tendermintTypes.go
Due: goimports -w

hotfix: use datahub nodes until unchained infra can be patched
  .circleci/config.yml
  node/coinstacks/ethereum/indexer/config.json
Due: none

hotfix: use infura nodes over datahub
  .circleci/config.yml
  node/coinstacks/ethereum/indexer/config.json
Due: none

hotfix: geth beacon node to support merge
  .circleci/config.yml
  node/coinstacks/ethereum/daemon/init.sh
  node/coinstacks/ethereum/daemon/jwt.hex
  node/coinstacks/ethereum/daemon/readiness-beacon.sh
  node/coinstacks/ethereum/pulumi/config.ts
  node/packages/blockbook/pulumi/index.ts
Due: prettier --write

hotfix: geth beacon node to support merge (#503)
  .circleci/config.yml
  node/coinstacks/ethereum/daemon/init.sh
  node/coinstacks/ethereum/daemon/jwt.hex
  node/coinstacks/ethereum/daemon/readiness-beacon.sh
  node/coinstacks/ethereum/pulumi/config.ts
  node/packages/blockbook/pulumi/index.ts
Due: prettier --write

fix: dynamic beacon configuration
  node/packages/blockbook/pulumi/index.ts
Due: prettier --write

feat: handle thorchain black magic fee math (#502)
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/thorchain/api/handler.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/tendermintTypes.go
Due: goimports -w

hotfix: increase eth timeout for performance issues currently
  node/coinstacks/ethereum/api/src/controller.ts
Due: prettier --write

hotfix: increase eth timeout for performance issues currently (#504)
  node/coinstacks/ethereum/api/src/controller.ts
Due: prettier --write

hotfix: segregated infura keys and bump beacon resources
  .circleci/config.yml
  node/coinstacks/ethereum/indexer/config.json
Due: none

hotfix: segregated infura keys and bump beacon resources (#505)
  .circleci/config.yml
  node/coinstacks/ethereum/indexer/config.json
Due: none

chore: add remaining alpha hostname matches
  go/pulumi/src/api.ts
  go/pulumi/src/statefulService.ts
  node/packages/blockbook/pulumi/index.ts
Due: prettier --write

chore: add remaining alpha hostname matches (#506)
  go/pulumi/src/api.ts
  go/pulumi/src/statefulService.ts
  node/packages/blockbook/pulumi/index.ts
Due: prettier --write

start binance coinstack
  docker-compose.yml
  go/cmd/binance/main.go
  go/cmd/binance/sample.env
  go/coinstacks/binance/Makefile
  go/coinstacks/binance/api/api.go
  go/coinstacks/binance/api/handler.go
  go/coinstacks/binance/docker-compose.yml
  go/coinstacks/binance/pulumi/Pulumi.yaml
  go/coinstacks/binance/pulumi/index.ts
  go/coinstacks/binance/pulumi/package.json
  go/coinstacks/binance/pulumi/tsconfig.json
  go/coinstacks/binance/pulumi/yarn.lock
Due: prettier --write, goimports -w

chore: upgrade thornode to v1.96.3
  .circleci/config.yml
Due: none

chore: upgrade thornode to v1.96.3 (#507)
  .circleci/config.yml
Due: none
