Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

begin apr
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
  go/pkg/cosmos/epochs.go
  go/pkg/cosmos/mint.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/types.go
Due: goimports -w

apr working
  go/coinstacks/osmosis/api/handlers.go
  go/pkg/cosmos/mint.go
  go/pkg/cosmos/types.go
Due: goimports -w

Use struct assignment
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
Due: goimports -w

remove unnecessary code
  node/packages/client/src/ethereum/parser/foxy.ts
Due: prettier --write

add foxy tests
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/foxyClaimWithdraw.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/foxyInstantUnstake.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/foxyStake.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/foxyUnstake.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/tokens.ts
Due: prettier --write

Use function name instead of hardcoded sighash
  node/packages/client/src/ethereum/parser/yearn.ts
Due: prettier --write

parser pattern
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit2.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethWithdraw.ts
  node/packages/client/src/ethereum/parser/foxy.ts
  node/packages/client/src/ethereum/parser/thor.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/weth.ts
  node/packages/client/src/ethereum/parser/yearn.ts
Due: prettier --write

refactor(caip): rename caip specifiers (#399)
  node/packages/client/package.json
  node/packages/client/src/cosmos/parser/index.ts
  node/yarn.lock
Due: prettier --write

handle from/to separatly and log warning only when message is missing
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
Due: prettier --write

lint fix
  node/packages/client/src/ethereum/parser/index.ts
Due: prettier --write

refactor: clean up code (#402)
  node/packages/client/src/bitcoin/parser/index.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/types.ts
Due: prettier --write

Add documentation for release process
  docs/releaseProcess.md
Due: none

Add comment about manual approval for public deploy
  docs/releaseProcess.md
Due: none

Update gitbook summary to show release process docs
  SUMMARY.md
Due: none

Add documentation for release process (#407)
  SUMMARY.md
  docs/releaseProcess.md
Due: none

manual update of summary
  SUMMARY.md
Due: none

Update gitbook
  SUMMARY.md
  docs/releaseProcess.md
Due: none

chore: replace CAIP property names in the parser with generic names (#404)
  node/packages/client/src/bitcoin/parser/__tests__/bitcoin.test.ts
  node/packages/client/src/bitcoin/parser/index.ts
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/cosmos/types.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/weth.ts
  node/packages/client/src/types.ts
  node/packages/client/src/utils.ts
Due: prettier --write

Add connection timeout
  node/packages/client/src/websocket.ts
Due: prettier --write

Use local var
  node/packages/client/src/ethereum/parser/uniV2.ts
Due: prettier --write

Add connection timeout (#408)
  node/packages/client/src/websocket.ts
Due: prettier --write

Remove references to unpublished packages
  node/coinstacks/common/api/package.json
  node/coinstacks/common/api/src/websocket.ts
Due: prettier --write

Remove references to unpublished packages (#409)
  node/coinstacks/common/api/package.json
  node/coinstacks/common/api/src/websocket.ts
Due: prettier --write

Cleanup (#406)
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/foxyClaimWithdraw.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/foxyInstantUnstake.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/foxyStake.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/foxyUnstake.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/tokens.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit2.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethWithdraw.ts
  node/packages/client/src/ethereum/parser/foxy.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/thor.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/weth.ts
  node/packages/client/src/ethereum/parser/yearn.ts
Due: prettier --write, goimports -w

chore(release): publish 6.11.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

chore(release): publish 6.11.0 (#410)
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

Add useful error message on failed transaction broadcast
  go/pkg/cosmos/tx.go
Due: goimports -w

Add useful error message on failed transaction broadcast (#414)
  go/pkg/cosmos/tx.go
Due: goimports -w

add osmosis pulumi
  go/coinstacks/osmosis/pulumi/Pulumi.sample.yaml
  go/coinstacks/osmosis/pulumi/Pulumi.yaml
  go/coinstacks/osmosis/pulumi/config.ts
  go/coinstacks/osmosis/pulumi/index.ts
  go/coinstacks/osmosis/pulumi/package.json
  go/coinstacks/osmosis/pulumi/tsconfig.json
  go/coinstacks/osmosis/pulumi/yarn.lock
  node_modules/.yarn-integrity
  yarn.lock
Due: prettier --write

rename
  go/coinstacks/osmosis/pulumi/Pulumi.sample.yaml
  go/coinstacks/osmosis/pulumi/config.ts
  go/coinstacks/osmosis/pulumi/index.ts
  go/coinstacks/osmosis/pulumi/tsconfig.json
Due: prettier --write

remove yarn.lock
  yarn.lock
Due: none

remove yarn-integrity
  node_modules/.yarn-integrity
Due: none

osmosis integration
  go/cmd/osmosis/main.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
Due: goimports -w

add osmosis dev deploy for shapeshift cluster
  .circleci/config.yml
  go/build/Dockerfile
Due: none

Osmo pulumi (#416)
  .circleci/config.yml
  go/build/Dockerfile
  go/coinstacks/osmosis/pulumi/Pulumi.sample.yaml
  go/coinstacks/osmosis/pulumi/Pulumi.yaml
  go/coinstacks/osmosis/pulumi/config.ts
  go/coinstacks/osmosis/pulumi/index.ts
  go/coinstacks/osmosis/pulumi/package.json
  go/coinstacks/osmosis/pulumi/tsconfig.json
  go/coinstacks/osmosis/pulumi/yarn.lock
Due: prettier --write

pr fixes
  go/cmd/osmosis/main.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
Due: goimports -w

update thorchain
  go/cmd/thorchain/main.go
Due: goimports -w
