Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

cleanup
  go/pkg/cosmos/tx.go
Due: goimports -w

remove newline at beginning of function
  go/pkg/cosmos/tx.go
Due: goimports -w

fix: get addrs from events instead of only messages (#478)
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/handlers.go
  go/pkg/cosmos/tx.go
Due: goimports -w

[README] Add GitPOAP Badge to Display Number of Minted GitPOAPs for Contributors
  README.md
Due: none

[README] Add GitPOAP Badge to Display Number of Minted GitPOAPs for Contributors (#481)
  README.md
Due: none

base cosmos api abstraction
  docker-compose.yml
  go/coinstacks/thorchain/api/api.go
  go/pkg/cosmos/api/api.go
  go/pkg/cosmos/api/handler.go
  go/pkg/cosmos/api/types.go
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

chore: use cosmos common abstraction and extend with coin specific logic
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/pkg/cosmos/api/api.go
  go/pkg/cosmos/api/handler.go
Due: goimports -w

cleanup
  go/coinstacks/thorchain/api/api.go
  go/pkg/api/handlers.go
  go/pkg/cosmos/api/api.go
  go/pkg/cosmos/api/handler.go
Due: goimports -w

cleanup
  go/coinstacks/cosmos/api/api.go
Due: goimports -w

fix: cosmos websocket reconnect patch
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

fix: cosmos websocket reconnect patch (#483)
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

chore: remove debug log
  go/pkg/cosmos/websocket.go
Due: goimports -w

chore: use base cosmos abstraction for osmosis
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
  go/pkg/cosmos/api/handler.go
  go/pkg/cosmos/middleware.go
Due: goimports -w

more cleanup improvements
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/pkg/cosmos/middleware.go
Due: goimports -w

checkpoint
  go/cmd/osmosis/main.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
  go/coinstacks/osmosis/mint.go
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/osmosis/tx.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/api/handler.go
  go/pkg/cosmos/api/types.go
  go/pkg/cosmos/bank.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/gas.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/tx.go
Due: goimports -w

chore (cosmos): use base cosmos abstraction (#482)
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/pkg/cosmos/api/handler.go
  go/pkg/cosmos/middleware.go
Due: goimports -w

final cleanup and reflect logic
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/mint.go
  go/coinstacks/osmosis/tx.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/api/handler.go
  go/pkg/cosmos/bank.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/gas.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/osmosisMint.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/tx.go
Due: goimports -w

chore (osmosis): use base cosmos abstraction (#484)
  go/cmd/osmosis/main.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
  go/coinstacks/osmosis/mint.go
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/osmosis/tx.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/api/handler.go
  go/pkg/cosmos/api/types.go
  go/pkg/cosmos/bank.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/gas.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/tx.go
Due: goimports -w

separate out staking/apr
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/cosmos/api/types.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/api/types.go
  go/coinstacks/thorchain/api/api.go
  go/coinstacks/thorchain/api/handler.go
  go/pkg/cosmos/api/handler.go
  go/pkg/cosmos/api/types.go
Due: goimports -w

reduce extra package path
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/cosmos/api/types.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/api/types.go
  go/coinstacks/thorchain/api/api.go
  go/coinstacks/thorchain/api/handler.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/api/types.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/osmosisMint.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/unchainedTypes.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

inline types
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/cosmos/api/types.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/api/types.go
Due: goimports -w

validate pubkey correctly per subrouter
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/pkg/cosmos/middleware.go
Due: goimports -w

feat: add thorchain coinstack logic (#479)
  docker-compose.yml
  go/cmd/osmosis/main.go
  go/cmd/thorchain/main.go
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
  go/coinstacks/osmosis/mint.go
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/osmosis/tx.go
  go/coinstacks/thorchain/api/api.go
  go/coinstacks/thorchain/api/handler.go
  go/coinstacks/thorchain/api/handlers.go
  go/coinstacks/thorchain/api/types.go
  go/go.mod
  go/go.sum
  go/pkg/api/handlers.go
  go/pkg/cosmos/account.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/bank.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/gas.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/middleware.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/unchainedTypes.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

add to circle config
  go/pulumi/src/statefulService.ts
Due: prettier --write

circle config
  .circleci/config.yml
Due: none

type fix
  .circleci/config.yml
Due: none

rename midgard -> indexer
  go/coinstacks/thorchain/indexer/init.sh
  go/coinstacks/thorchain/indexer/readiness.sh
  go/coinstacks/thorchain/pulumi/index.ts
Due: prettier --write

fix probe scripts and svc endpoint
  .circleci/config.yml
  go/coinstacks/thorchain/daemon/readiness.sh
  go/coinstacks/thorchain/indexer/readiness.sh
  go/coinstacks/thorchain/timescaledb/readiness.sh
Due: none

do not deploy api yet
  .circleci/config.yml
Due: none

circle tweaks
  .circleci/config.yml
Due: none

finalized circle deployment
  .circleci/config.yml
Due: none

feat: thorchain infra (#477)
  .circleci/config.yml
  go/coinstacks/cosmos/pulumi/Pulumi.sample.yaml
  go/coinstacks/cosmos/pulumi/config.ts
  go/coinstacks/cosmos/pulumi/index.ts
  go/coinstacks/osmosis/pulumi/Pulumi.sample.yaml
  go/coinstacks/osmosis/pulumi/index.ts
  go/coinstacks/thorchain/daemon/init.sh
  go/coinstacks/thorchain/daemon/readiness.sh
  go/coinstacks/thorchain/indexer/init.sh
  go/coinstacks/thorchain/indexer/readiness.sh
  go/coinstacks/thorchain/pulumi/Pulumi.yaml
  go/coinstacks/thorchain/pulumi/index.ts
  go/coinstacks/thorchain/pulumi/package.json
  go/coinstacks/thorchain/pulumi/tsconfig.json
  go/coinstacks/thorchain/pulumi/yarn.lock
  go/coinstacks/thorchain/timescaledb/init.sh
  go/coinstacks/thorchain/timescaledb/readiness.sh
  go/pulumi/src/api.ts
  go/pulumi/src/config.ts
  go/pulumi/src/index.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

chore: deploy osmosis and thorchain to prod environment
  .circleci/config.yml
Due: none

chore: deploy osmosis and thorchain to prod environment (#486)
  .circleci/config.yml
Due: none

fix: swagger type shadow and missing json tags
  go/pkg/cosmos/models.go
Due: goimports -w

fix: swagger type shadow and missing json tags (#487)
  go/pkg/cosmos/models.go
Due: goimports -w

hotfix: required staking fields
  go/pkg/cosmos/models.go
Due: goimports -w

fix: urls and resty client creation
  .circleci/config.yml
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/thorchain/api/handler.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/models.go
Due: goimports -w

enable thorchain api
  .circleci/config.yml
Due: none

omit user:pass
  .circleci/config.yml
Due: none
