Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

remove git-format-staged
  go/scripts/git-format-staged.py
Due: none

Add block service
  go/cmd/cosmos/main.go
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handlers.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/types.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

add note to go readme
  go/Makefile
  go/README.md
Due: none

PR review feedback
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/types.go
Due: goimports -w

capital C for ocd
  go/pkg/cosmos/types.go
Due: goimports -w

add EventsByMsgIndex for swagger type generator (#340)
  go/coinstacks/cosmos/api/types.go
  go/coinstacks/osmosis/api/types.go
  go/coinstacks/thorchain/api/types.go
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/types.go
  node/packages/client/src/cosmos/parser/__tests__/mockData/standard.ts
Due: prettier --write, goimports -w

Update osmosis and thorchain
  go/cmd/osmosis/main.go
  go/cmd/thorchain/main.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/api.go
  go/coinstacks/thorchain/api/handlers.go
  go/pkg/cosmos/block.go
Due: goimports -w

use --cwd to avoid path resolution
  .husky/pre-commit
Due: none

move .lintstagedrc.json into node and go dir
  .lintstagedrc.json
  go/.lintstagedrc.json
  node/.lintstagedrc.json
Due: none

Add block service (#342)
  go/cmd/cosmos/main.go
  go/cmd/osmosis/main.go
  go/cmd/thorchain/main.go
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/api.go
  go/coinstacks/thorchain/api/handlers.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/types.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

update readme
  README.md
  go/README.md
Due: none

add cosmos public jobs to main workflow
  .circleci/config.yml
Due: none

remove 2x spot node group
  .circleci/config.yml
Due: none

Cosmos public (#344)
  .circleci/config.yml
Due: none

use rs/cors and allow all to fix send/estimateGas issues
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/api.go
  go/go.mod
  go/go.sum
Due: goimports -w

fix mismanaged sync lock
  go/pkg/cosmos/block.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

delegate tests
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/delegate.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/redelegate.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/reward.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/undelegate.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/types.ts
  node/packages/client/src/utils.ts
Due: prettier --write

Allow all cors (#346)
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/api.go
  go/go.mod
  go/go.sum
  go/pkg/cosmos/block.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

simplify getRewardValue()
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/utils.ts
Due: prettier --write

Update eth and btc tx model comments
  node/coinstacks/bitcoin/api/src/models.ts
  node/coinstacks/ethereum/api/src/models.ts
Due: prettier --write

use goimports in pre-commit hook (#331)
  .husky/pre-commit
  README.md
  go/.lintstagedrc.json
  go/Makefile
  go/README.md
  node/.lintstagedrc.json
  node/package.json
  node/yarn.lock
Due: none

Fix ws check origin
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/api.go
Due: goimports -w

Fix ws check origin (#348)
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/api.go
Due: goimports -w

Break out tendermint response types
  go/pkg/cosmos/tendermintTypes.go
Due: goimports -w

Add confirmations, and update block service on new block headers
  go/cmd/cosmos/main.go
  go/cmd/osmosis/main.go
  go/cmd/thorchain/main.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
  go/coinstacks/thorchain/api/handlers.go
  go/coinstacks/thorchain/api/types.go
  go/pkg/api/api.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/types.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

Minor update to API docs for btc & eth coinstacks
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/models.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/models.ts
Due: prettier --write

Update parser to use new values and fix up tests to reflect changes
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/standard.ts
  node/packages/client/src/cosmos/parser/index.ts
Due: prettier --write

chore(release): publish 6.2.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

fix for running golang coinstacks on m1
  go/coinstacks/cosmos/Makefile
  go/coinstacks/osmosis/Makefile
  go/coinstacks/thorchain/Makefile
Due: none

fix for running golang coinstacks on m1 (#350)
  go/coinstacks/cosmos/Makefile
  go/coinstacks/osmosis/Makefile
  go/coinstacks/thorchain/Makefile
Due: none

Block service ws update (#349)
  go/cmd/cosmos/main.go
  go/cmd/osmosis/main.go
  go/cmd/thorchain/main.go
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/cosmos/api/types.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
  go/coinstacks/thorchain/api/handlers.go
  go/coinstacks/thorchain/api/types.go
  go/pkg/api/api.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/types.go
  go/pkg/cosmos/websocket.go
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/standard.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/pulumi/package.json
Due: prettier --write, goimports -w

Add common issue report for docker-local image
  README.md
Due: none

Add common issue report for docker-local image (#351)
  README.md
Due: none

Re-implement Bitcoin transaction history endpoint (#341)
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/models.ts
  node/coinstacks/common/api/src/models.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/models.ts
Due: prettier --write

redo tests for new parse strategy
  go/coinstacks/cosmos/Makefile
  go/coinstacks/osmosis/Makefile
  go/coinstacks/thorchain/Makefile
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/types.ts
  node/packages/client/src/utils.ts
Due: prettier --write

Use explicit glob for prettier formatting
  node/.lintstagedrc.json
Due: none

Use explicit glob for prettier formatting (#352)
  node/.lintstagedrc.json
Due: none

add origin to cosmos messages
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/types.go
Due: goimports -w

add origin to cosmos messages (#353)
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/types.go
Due: goimports -w
