Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

remove getRewardValue
  node/packages/client/src/cosmos/parser/utils.ts
Due: prettier --write

remove unused import
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
Due: prettier --write

Cosmos IBC parsing (#386)
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/ibc_receive.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/ibc_send.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/cosmos/types.ts
Due: prettier --write

chore: new issue template (#385)
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

uatom to uosmo
  go/coinstacks/osmosis/api/handlers.go
Due: goimports -w

setup foxy parser
  node/packages/client/src/ethereum/parser/abi/foxyStaking.ts
  node/packages/client/src/ethereum/parser/constants.ts
  node/packages/client/src/ethereum/parser/foxy.ts
  node/packages/client/src/types.ts
Due: prettier --write

add pr review changes
  node/packages/client/src/ethereum/parser/abi/foxyStaking.ts
  node/packages/client/src/ethereum/parser/foxy.ts
Due: prettier --write

remove constructor
  node/packages/client/src/ethereum/parser/foxy.ts
Due: prettier --write

fix: type
  node/packages/client/src/ethereum/parser/abi/foxyStaking.ts
Due: prettier --write

update foxyStaking contract constant
  node/packages/client/src/ethereum/parser/constants.ts
Due: prettier --write

add foxy to parser index file
  node/packages/client/src/ethereum/parser/constants.ts
  node/packages/client/src/ethereum/parser/foxy.ts
  node/packages/client/src/ethereum/parser/index.ts
Due: prettier --write

add stake sigHash to foxy parser
  node/packages/client/src/ethereum/parser/foxy.ts
Due: prettier --write

feat: foxy parser (#387)
  node/packages/client/src/ethereum/parser/abi/foxyStaking.ts
  node/packages/client/src/ethereum/parser/constants.ts
  node/packages/client/src/ethereum/parser/foxy.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/types.ts
Due: prettier --write

add resources to mongo and ingester workloads
  .circleci/config.yml
Due: none

add resources to mongo and ingester workloads (#390)
  .circleci/config.yml
Due: none

chore(release): publish 6.9.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

chore(release): publish 6.9.0 (#391)
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

Release v6.9.0 (#392)
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/issue.yml
  go/coinstacks/cosmos/api/handlers.go
  go/go.mod
  go/go.sum
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/ibc_receive.ts
  node/packages/client/src/cosmos/parser/__tests__/mockData/ibc_send.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/cosmos/types.ts
  node/packages/client/src/ethereum/parser/abi/foxyStaking.ts
  node/packages/client/src/ethereum/parser/constants.ts
  node/packages/client/src/ethereum/parser/foxy.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/types.ts
  node/pulumi/package.json
Due: prettier --write, goimports -w

feat: add weth parser
  node/packages/client/src/ethereum/parser/abi/weth.ts
  node/packages/client/src/ethereum/parser/constants.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/weth.ts
  node/packages/client/src/types.ts
Due: prettier --write

weth parser: add tests
  node/__mocks__/ethers.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethWithdrawal.ts
Due: prettier --write

yearn parser: fix capturing unrelated txs
  node/packages/client/src/ethereum/parser/yearn.ts
Due: prettier --write

yearn parser: fix parser
  node/packages/client/src/ethereum/parser/yearn.ts
Due: prettier --write

yearn parser: finalized the implementation
  node/packages/client/src/ethereum/parser/weth.ts
Due: prettier --write

yearn parser: fix according to feedbacks
  node/packages/client/src/ethereum/parser/yearn.ts
Due: prettier --write

chore: add issue automation
  .github/workflows/add-issue.yml
Due: none

weth: add wethDeposit2 mock data
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit2.ts
Due: prettier --write

weth: reverse from & to in weth parser; add internal txs to the `wethWithdrawal` test.
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethWithdrawal.ts
  node/packages/client/src/ethereum/parser/weth.ts
Due: prettier --write

weth: fix transfer types
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/weth.ts
Due: prettier --write

feat: add weth subparser (#393)
  node/__mocks__/ethers.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit2.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethWithdrawal.ts
  node/packages/client/src/ethereum/parser/abi/weth.ts
  node/packages/client/src/ethereum/parser/constants.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/weth.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/types.ts
Due: prettier --write

chore: bump caip package version to ^3.0.0
  node/packages/client/package.json
Due: none

refactor(caip): flatten CAIP imports
  node/packages/client/src/bitcoin/parser/index.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/weth.ts
Due: prettier --write

refactor: rename caip specifiers
  node/packages/client/src/cosmos/parser/index.ts
Due: prettier --write

chore(release): publish 6.10.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/pulumi/package.json
Due: none

Release 6.10.0 (#401)
  .github/workflows/add-issue.yml
  node/__mocks__/ethers.ts
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/ingester/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/ingester/package.json
  node/coinstacks/common/mongo/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/ingester/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/client/package.json
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethDeposit2.ts
  node/packages/client/src/ethereum/parser/__tests__/mockData/wethWithdrawal.ts
  node/packages/client/src/ethereum/parser/abi/weth.ts
  node/packages/client/src/ethereum/parser/constants.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/weth.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/types.ts
  node/pulumi/package.json
Due: prettier --write

refactor: clean up code
  node/packages/client/src/bitcoin/parser/index.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/yearn.ts
  node/packages/client/src/types.ts
Due: prettier --write

chore: bump caip package version to ^2.2.1
  node/packages/client/package.json
  node/yarn.lock
Due: none

chore: add new types and depricate old types
  node/packages/client/src/cosmos/types.ts
  node/packages/client/src/types.ts
Due: prettier --write

chore: add new property names alongside depricated ones
  node/packages/client/src/bitcoin/parser/__tests__/bitcoin.test.ts
  node/packages/client/src/bitcoin/parser/index.ts
  node/packages/client/src/cosmos/parser/__tests__/cosmos.test.ts
  node/packages/client/src/cosmos/parser/index.ts
  node/packages/client/src/cosmos/parser/utils.ts
  node/packages/client/src/ethereum/parser/__tests__/ethereum.test.ts
  node/packages/client/src/ethereum/parser/index.ts
  node/packages/client/src/ethereum/parser/uniV2.ts
  node/packages/client/src/ethereum/parser/weth.ts
  node/packages/client/src/utils.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.ts)
  goimports -w: any of: *.go
