Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

add symlinks to indexer probe scripts
  node/coinstacks/bitcoin/indexer/liveness.sh
  node/coinstacks/bitcoin/indexer/readiness.sh
  node/coinstacks/bitcoincash/indexer/liveness.sh
  node/coinstacks/bitcoincash/indexer/readiness.sh
  node/coinstacks/dogecoin/indexer/liveness.sh
  node/coinstacks/dogecoin/indexer/readiness.sh
  node/coinstacks/ethereum/indexer/liveness.sh
  node/coinstacks/ethereum/indexer/readiness.sh
  node/coinstacks/litecoin/indexer/liveness.sh
  node/coinstacks/litecoin/indexer/readiness.sh
Due: none

update coinstacks to use new shared api and stateful service
  go/coinstacks/thorchain/pulumi/index.ts
  node/coinstacks/avalanche/pulumi/index.ts
  node/coinstacks/bitcoin/pulumi/index.ts
  node/coinstacks/bitcoincash/pulumi/index.ts
  node/coinstacks/dogecoin/pulumi/index.ts
  node/coinstacks/ethereum/pulumi/index.ts
  node/coinstacks/litecoin/pulumi/index.ts
Due: prettier --write

update circle config to use statefulservice convention
  .circleci/config.yml
Due: none

param interpolation didn't work
  .circleci/config.yml
Due: none

maybe it did... added cpu-request
  .circleci/config.yml
Due: none

force root user context and only default to init.sh script if found
  pulumi/src/statefulService.ts
Due: prettier --write

remove getBasHash and just use latest
  node/coinstacks/avalanche/pulumi/index.ts
  node/coinstacks/bitcoin/pulumi/index.ts
  node/coinstacks/bitcoincash/pulumi/index.ts
  node/coinstacks/dogecoin/pulumi/index.ts
  node/coinstacks/ethereum/pulumi/index.ts
  node/coinstacks/litecoin/pulumi/index.ts
Due: prettier --write

update svc name and fix pulumi cluster work dir
  .circleci/config.yml
Due: none

remove last instances of isLocal
  .circleci/config.yml
  pulumi/src/cluster/Pulumi.sample.yaml
Due: none

update paths
  pulumi/src/cluster/index.ts
Due: prettier --write

organize monitoring
  monitoring/package.json
  monitoring/src/Pulumi.sample.yaml
  monitoring/src/Pulumi.yaml
  monitoring/src/config.ts
  monitoring/src/grafana.ts
  monitoring/src/index.ts
  monitoring/src/loki.ts
  monitoring/src/prometheus.ts
  monitoring/tsconfig.json
  monitoring/yarn.lock
Due: prettier --write

remove invalid grpc url osmosis
  .circleci/config.yml
  go/cmd/osmosis/main.go
  go/cmd/osmosis/sample.env
Due: goimports -w

DROP: preview ci
  .circleci/config.yml
Due: none

align jobs
  .circleci/config.yml
Due: none

deploy dev taxistake
  .circleci/config.yml
Due: none

update kubernetes plugin version
  .circleci/config.yml
Due: none

remove shapeshift deploy
  .circleci/config.yml
Due: none

keep type def after production prune
  node/package.json
Due: none

upgrade pulumi kubernetes version
  node/package.json
  node/yarn.lock
Due: none

remove feature branch ci
  .circleci/config.yml
Due: none

Update go/pkg/cosmos/history.go
  go/pkg/cosmos/history.go
Due: goimports -w

Update go/pkg/cosmos/api.go
  go/pkg/cosmos/api.go
Due: goimports -w

add circle config for self hosted nodes
  .circleci/config.yml
Due: none

do not deploy monitor without readiness or liveness probes
  pulumi/src/statefulService.ts
Due: prettier --write

add osmosis daemon
  go/coinstacks/osmosis/daemon/init.sh
  go/coinstacks/osmosis/daemon/readiness.sh
  go/coinstacks/osmosis/pulumi/index.ts
Due: prettier --write

more conditional monitor container
  pulumi/src/statefulService.ts
Due: prettier --write

update env vars and remove keplr url
  .circleci/config.yml
  go/cmd/osmosis/main.go
  go/cmd/osmosis/sample.env
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/daemon/readiness.sh
  go/coinstacks/osmosis/osmosis.go
  go/coinstacks/osmosis/tx.go
Due: goimports -w

cleanup:
  go/cmd/thorchain/sample.env
  go/pkg/cosmos/tx.go
Due: goimports -w

update prod env vars
  .circleci/config.yml
  go/coinstacks/osmosis/daemon/init.sh
Due: none

Moved validator history to specific coin impls
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/pkg/cosmos/api.go
Due: goimports -w

Interface cleanup
  go/pkg/cosmos/handler.go
Due: goimports -w

Moved tx sources impl to history.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
Due: goimports -w

Update go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/api.go
Due: goimports -w

Update go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/api.go
Due: goimports -w

feat: validator tx history (#533)
  .gitignore
  README.md
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/handler.go
  go/pkg/api/api.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
Due: goimports -w

cosmos daemon
  go/coinstacks/cosmos/daemon/init.sh
  go/coinstacks/cosmos/daemon/readiness.sh
  go/coinstacks/cosmos/pulumi/index.ts
Due: prettier --write

chore: update openapi spec [skip ci]
  go/coinstacks/cosmos/api/swagger.json
  go/coinstacks/osmosis/api/swagger.json
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.ts)
  goimports -w: any of: *.go
