Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

feat: expose ethereum websockets
  node/coinstacks/ethereum/daemon/init.sh
  node/coinstacks/ethereum/pulumi/index.ts
Due: prettier --write

feat: expose ethereum websockets (#580)
  node/coinstacks/ethereum/daemon/init.sh
  node/coinstacks/ethereum/pulumi/index.ts
Due: prettier --write

feat: /validators pagination (#581)
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/cosmos/api/handler.go
  go/coinstacks/cosmos/api/swagger.json
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/osmosis/api/handler.go
  go/coinstacks/osmosis/api/swagger.json
  go/coinstacks/thorchain/api/api.go
  go/coinstacks/thorchain/api/swagger.json
  go/pkg/api/api.go
  go/pkg/cosmos/api.go
  go/pkg/cosmos/models.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/types.go
Due: goimports -w

fix: correct path prefix and apply middleware only if necessary
  node/coinstacks/ethereum/pulumi/index.ts
  pulumi/src/statefulService.ts
Due: prettier --write

chore: upgrade thorchain 1.102.0
  .circleci/config.yml
Due: none

chore: upgrade thorchain 1.102.0 (#582)
  .circleci/config.yml
Due: none

chore: add external dns helm chart
  .circleci/config.yml
Due: none

chore: add external dns helm chart (#583)
  .circleci/config.yml
Due: none

chore: latest external dns helm chart
  .circleci/config.yml
Due: none

chore: latest external dns helm chart (#584)
  .circleci/config.yml
Due: none

revert: external-dns pulumi plugin
  .circleci/config.yml
Due: none

update local pulumi dependencies
  go/coinstacks/cosmos/pulumi/package.json
  go/coinstacks/cosmos/pulumi/yarn.lock
  go/coinstacks/osmosis/pulumi/package.json
  go/coinstacks/osmosis/pulumi/yarn.lock
  go/coinstacks/thorchain/pulumi/package.json
  go/coinstacks/thorchain/pulumi/yarn.lock
  go/pulumi/package.json
  go/pulumi/yarn.lock
  monitoring/package.json
  monitoring/yarn.lock
  pulumi/package.json
  pulumi/yarn.lock
Due: none

remove shared express/tsoa dependencies
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/litecoin/api/package.json
  node/packages/blockbook/package.json
Due: none

update node version
  node/.nvmrc
  node/Dockerfile
  node/Dockerfile.local
  node/Dockerfile.probe
Due: none

add shared express/tsoa dependencies, update node version require, and update shared pulumi dependencies
  node/package.json
  node/yarn.lock
Due: none

update dependencies in circleci
  .circleci/config.yml
Due: none

upgrade cluster launcher
  pulumi/package.json
Due: none

fix staticcheck error
  go/pkg/cosmos/gas.go
Due: goimports -w

button up circle config
  .circleci/config.yml
Due: none

use new ubuntu version
  .circleci/config.yml
Due: none

final tweaks
  .circleci/config.yml
  go/Makefile
  node/package.json
Due: none

update to official release of cluster launcher
  pulumi/package.json
  pulumi/yarn.lock
Due: none

chore: update dependencies (#585)
  .circleci/config.yml
  go/Makefile
  go/coinstacks/cosmos/pulumi/package.json
  go/coinstacks/cosmos/pulumi/yarn.lock
  go/coinstacks/osmosis/pulumi/package.json
  go/coinstacks/osmosis/pulumi/yarn.lock
  go/coinstacks/thorchain/pulumi/package.json
  go/coinstacks/thorchain/pulumi/yarn.lock
  go/pkg/cosmos/gas.go
  go/pulumi/package.json
  go/pulumi/yarn.lock
  monitoring/package.json
  monitoring/yarn.lock
  node/.nvmrc
  node/Dockerfile
  node/Dockerfile.local
  node/Dockerfile.probe
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/litecoin/api/package.json
  node/package.json
  node/packages/blockbook/package.json
  node/yarn.lock
  pulumi/package.json
  pulumi/yarn.lock
Due: goimports -w

fix: strange ts narrowing bug with pulumi
  monitoring/tsconfig.json
  pulumi/src/config.ts
  pulumi/tsconfig.json
Due: prettier --write

chore: tune resources
  .circleci/config.yml
Due: none

use l2 sync for full node
  node/coinstacks/optimism/daemon/init.sh
  node/coinstacks/optimism/dtl/init.sh
Due: none

update blockbook config and deploy all services
  node/coinstacks/optimism/indexer/config.json
  node/coinstacks/optimism/pulumi/index.ts
Due: prettier --write

archive init scripts
  node/coinstacks/optimism/daemon/init-archive.sh
  node/coinstacks/optimism/dtl/init-archive.sh
Due: none

make eip1559 fees optional (not supported by optimism)
  node/coinstacks/common/api/src/evm/models.ts
  node/coinstacks/common/api/src/evm/service.ts
Due: prettier --write

remove common dependencies
  node/coinstacks/optimism/api/package.json
Due: none

update unchained api examples
  node/coinstacks/optimism/api/src/controller.ts
Due: prettier --write

update swagger
  node/coinstacks/optimism/api/src/swagger.json
Due: none

chore: remove unused creds from pulumi config
  .circleci/config.yml
Due: none

chore: remove unused creds from pulumi config (#586)
  .circleci/config.yml
Due: none

fix: eks.traefik.whitelist array indices
  .circleci/config.yml
Due: none

chore: upgrade avalanche to v1.9.5
  .circleci/config.yml
Due: none

chore: upgrade bitcoincash to v26.0.0
  .circleci/config.yml
Due: none

chore: upgrade osmosis to v13.1.0
  .circleci/config.yml
Due: none

chore: upgrade midgard to v2.12.2
  .circleci/config.yml
Due: none

chore: upgrade bitcoin to v24.0.1
  .circleci/config.yml
Due: none
