Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

fix: revert back to using self hosted nodes
  .circleci/config.yml
  node/coinstacks/ethereum/indexer/config.json
  node/packages/blockbook/pulumi/index.ts
Due: prettier --write

fix: revert back to using self hosted nodes (#508)
  .circleci/config.yml
  node/coinstacks/ethereum/indexer/config.json
  node/packages/blockbook/pulumi/index.ts
Due: prettier --write

fix: revert back to default timeout
  node/coinstacks/ethereum/api/src/controller.ts
Due: prettier --write

working amino encode/decode, block service, and mostly websockets
  go/build/Dockerfile.local
  go/cmd/binance/main.go
  go/cmd/binance/sample.env
  go/coinstacks/binance/api/api.go
  go/coinstacks/binance/api/handler.go
  go/coinstacks/binance/api/models.go
  go/coinstacks/binance/binance.go
  go/coinstacks/binance/block.go
  go/coinstacks/binance/docker-compose.yml
  go/coinstacks/binance/encoding.go
  go/coinstacks/binance/types.go
  go/coinstacks/binance/websocket.go
  go/go.mod
  go/go.sum
  go/pkg/api/api.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/websocket.go
Due: goimports -w

first pass cleanup
  go/coinstacks/binance/api/handler.go
  go/coinstacks/binance/api/models.go
  go/coinstacks/binance/block.go
  go/coinstacks/binance/encoding.go
  go/coinstacks/binance/pulumi/Pulumi.yaml
  go/coinstacks/binance/pulumi/index.ts
  go/coinstacks/binance/pulumi/package.json
  go/coinstacks/binance/types.go
  go/coinstacks/binance/websocket.go
  go/go.mod
  go/go.sum
  go/pkg/cosmos/websocket.go
Due: prettier --write, goimports -w

replace local code with shapeshift fork of bnb go-sdk. working websockets
  go/cmd/binance/main.go
  go/coinstacks/binance/api/handler.go
  go/coinstacks/binance/binance.go
  go/coinstacks/binance/types.go
  go/coinstacks/binance/websocket.go
  go/go.mod
  go/go.sum
  go/pkg/cosmos/websocket.go
Due: goimports -w

reset bnb-chain-go-sdk version
  go/go.mod
  go/go.sum
Due: none

remove local cgo changes
  go/build/Dockerfile.local
  go/coinstacks/binance/docker-compose.yml
Due: none

block json tags
  go/coinstacks/binance/types.go
Due: goimports -w

remove local tendermint types and update with tmjson
  go/coinstacks/binance/api/handler.go
  go/coinstacks/binance/api/models.go
  go/coinstacks/binance/block.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cursor.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/tx.go
  go/pkg/cosmos/unchainedTypes.go
Due: goimports -w

tx history checkpoint
  go/coinstacks/binance/api/handler.go
  go/coinstacks/binance/binance.go
  go/coinstacks/binance/cursor.go
  go/coinstacks/binance/history.go
  go/coinstacks/binance/tx.go
Due: goimports -w

chore: update thorchain v1.97.0
  .circleci/config.yml
  go/go.mod
Due: none

chore: update thorchain v1.97.0 (#510)
  .circleci/config.yml
  go/go.mod
Due: none

chore: update thorchain v1.97.1
  .circleci/config.yml
Due: none

chore: update thorchain v1.97.1 (#511)
  .circleci/config.yml
Due: none

update dependencies
  go/go.mod
  go/go.sum
Due: none

add thorchain block event processing
  go/coinstacks/thorchain/events.go
Due: goimports -w

add missing base type handlers to satisfy interface
  go/pkg/api/api.go
Due: goimports -w

use provided tendermint types and add block_search and block_results
  go/pkg/cosmos/block.go
Due: goimports -w

add getter for encoding config
  go/pkg/cosmos/cosmos.go
Due: goimports -w

use base api tx interface and move decoding into formatTx func
  go/pkg/cosmos/handler.go
Due: goimports -w

pull out tx_search from history.go and use provided tendermint types
  go/pkg/cosmos/tx.go
Due: goimports -w

use tx_search from http client and propagate tendermint types
  go/pkg/cosmos/cursor.go
  go/pkg/cosmos/history.go
Due: goimports -w

clean up unused types
  go/pkg/cosmos/tendermintTypes.go
  go/pkg/cosmos/unchainedTypes.go
Due: goimports -w

working example of synthesized txs from block events
  go/coinstacks/thorchain/api/handler.go
Due: goimports -w

chore: update thorchain v1.97.2
  .circleci/config.yml
  go/go.mod
  go/go.sum
Due: none

chore: update thorchain v1.97.2 (#513)
  .circleci/config.yml
  go/go.mod
  go/go.sum
Due: none

roll back some package upgrades
  go/go.mod
  go/go.sum
Due: none

concurrent variable history tx search
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cursor.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/tx.go
Due: goimports -w

chore: scale infra
  .circleci/config.yml
Due: none

chore: scale infra (#522)
  .circleci/config.yml
Due: none

fix: eth pending txhistory bug
  node/coinstacks/common/api/src/evm/service.ts
Due: prettier --write

fix: eth pending txhistory bug (#523)
  node/coinstacks/common/api/src/evm/service.ts
Due: prettier --write

fix: use upgrade header to check for websocket connection
  go/pkg/cosmos/api.go
Due: goimports -w

fix: use upgrade header to check for websocket connection (#524)
  go/pkg/cosmos/api.go
Due: goimports -w

debug: websocket connection upgrade logs
  go/pkg/cosmos/api.go
Due: goimports -w

fix: use same upgrade header check in middleware
  go/pkg/api/middleware.go
Due: goimports -w

chore: remove debug logs
  go/pkg/cosmos/api.go
Due: goimports -w

add historytx interface to allow ambiguous resulttx types
  go/coinstacks/thorchain/api/handler.go
  go/coinstacks/thorchain/api/types.go
  go/coinstacks/thorchain/events.go
  go/coinstacks/thorchain/thorchain.go
  go/pkg/cosmos/block.go
  go/pkg/cosmos/cursor.go
  go/pkg/cosmos/handler.go
  go/pkg/cosmos/history.go
  go/pkg/cosmos/types.go
Due: goimports -w

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.ts)
  goimports -w: any of: *.go
