Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

chore: abstract shared evm logic and types
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/api/src/app.ts
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/api/src/evm/models.ts
  node/coinstacks/avalanche/api/src/evm/service.ts
  node/coinstacks/avalanche/api/src/evm/types.ts
  node/coinstacks/avalanche/api/src/logger.ts
  node/coinstacks/avalanche/api/src/types.ts
  node/coinstacks/common/api/package.json
  node/coinstacks/common/api/src/evm/index.ts
  node/coinstacks/common/api/src/evm/models.ts
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/common/api/src/index.ts
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/api/src/app.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/handlers.ts
  node/coinstacks/ethereum/api/src/logger.ts
  node/coinstacks/ethereum/api/src/models.ts
  node/coinstacks/ethereum/api/src/types.ts
Due: prettier --write

leverage generic BaseTxHistory
  node/coinstacks/bitcoin/api/src/models.ts
  node/coinstacks/bitcoincash/api/src/models.ts
  node/coinstacks/dogecoin/api/src/models.ts
  node/coinstacks/litecoin/api/src/models.ts
Due: prettier --write

fix outdated avalanche naming
  node/coinstacks/common/api/src/evm/models.ts
Due: prettier --write

base description updates
  node/coinstacks/common/api/src/models.ts
Due: prettier --write

add blockbook dependency
  node/coinstacks/common/api/package.json
Due: none

type name changes
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/dogecoin/api/src/controller.ts
  node/coinstacks/litecoin/api/src/controller.ts
Due: prettier --write

chore(release): publish 7.2.0-alpha.0
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/bitcoincash/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/coinstacks/litecoin/api/package.json
  node/coinstacks/litecoin/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/pulumi/package.json
Due: none

add necessary dependencies
  node/coinstacks/common/api/package.json
  node/coinstacks/common/api/src/evm/service.ts
Due: prettier --write

chore(release): publish 7.2.0
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/bitcoincash/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/coinstacks/litecoin/api/package.json
  node/coinstacks/litecoin/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/pulumi/package.json
Due: none

checkpoint
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/api/tsoa.json
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/handlers.ts
  node/coinstacks/bitcoin/api/tsoa.json
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/common/api/src/evm/utils.ts
  node/coinstacks/common/api/src/index.ts
  node/coinstacks/common/api/src/utxo/controller.ts
  node/coinstacks/common/api/src/utxo/index.ts
  node/coinstacks/common/api/src/utxo/models.ts
  node/coinstacks/common/api/src/utxo/service.ts
  node/coinstacks/common/api/src/utxo/types.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/tsoa.json
Due: prettier --write

update remaining utxo coinstacks
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/app.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/handlers.ts
  node/coinstacks/bitcoincash/api/src/models.ts
  node/coinstacks/dogecoin/api/src/app.ts
  node/coinstacks/dogecoin/api/src/controller.ts
  node/coinstacks/dogecoin/api/src/handlers.ts
  node/coinstacks/dogecoin/api/src/models.ts
  node/coinstacks/litecoin/api/src/app.ts
  node/coinstacks/litecoin/api/src/controller.ts
  node/coinstacks/litecoin/api/src/handlers.ts
  node/coinstacks/litecoin/api/src/models.ts
Due: prettier --write

use static assignment over global
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/common/api/src/utxo/controller.ts
  node/coinstacks/common/api/src/utxo/service.ts
  node/coinstacks/dogecoin/api/src/controller.ts
  node/coinstacks/litecoin/api/src/controller.ts
Due: prettier --write

cleanup
  docker-compose.yml
  node/coinstacks/avalanche/api/tsoa.json
  node/coinstacks/bitcoin/api/tsoa.json
  node/coinstacks/common/api/src/utxo/service.ts
  node/coinstacks/ethereum/api/tsoa.json
Due: prettier --write

chore: increase avalanche indexer volume size
  .circleci/config.yml
Due: none

review feedback
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/common/api/src/index.ts
  node/coinstacks/common/api/src/utxo/controller.ts
  node/coinstacks/common/api/src/utxo/models.ts
  node/coinstacks/common/api/src/utxo/service.ts
Due: prettier --write

Abstract utxo into shared api controller (#466)
  docker-compose.yml
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/app.ts
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/api/src/handlers.ts
  node/coinstacks/bitcoin/api/src/models.ts
  node/coinstacks/bitcoincash/api/src/app.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/handlers.ts
  node/coinstacks/bitcoincash/api/src/models.ts
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/common/api/src/evm/utils.ts
  node/coinstacks/common/api/src/index.ts
  node/coinstacks/common/api/src/utxo/controller.ts
  node/coinstacks/common/api/src/utxo/index.ts
  node/coinstacks/common/api/src/utxo/models.ts
  node/coinstacks/common/api/src/utxo/service.ts
  node/coinstacks/common/api/src/utxo/types.ts
  node/coinstacks/dogecoin/api/src/app.ts
  node/coinstacks/dogecoin/api/src/controller.ts
  node/coinstacks/dogecoin/api/src/handlers.ts
  node/coinstacks/dogecoin/api/src/models.ts
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/litecoin/api/src/app.ts
  node/coinstacks/litecoin/api/src/controller.ts
  node/coinstacks/litecoin/api/src/handlers.ts
Due: prettier --write

chore(release): publish 8.0.0
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/bitcoincash/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/coinstacks/litecoin/api/package.json
  node/coinstacks/litecoin/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/pulumi/package.json
Due: none

chore: deploy dogecoin to ShapeShift prod cluster
  .circleci/config.yml
Due: none

add litecoin and avalanche prod deployments shapeshift
  .circleci/config.yml
Due: none

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: update CODEOWNERS (#468)
  .github/CODEOWNERS
Due: none

chore: deploy additional production coinstacks
  .circleci/config.yml
Due: none

fix: correct dependencies job name for taxistake
  .circleci/config.yml
Due: none

wip
  go/cmd/osmosis/main.go
  go/coinstacks/osmosis/api/handlers.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/tx.go
Due: goimports -w

typo
  go/pkg/cosmos/cosmos.go
Due: goimports -w

special case for osmo broadcasts
  go/pkg/cosmos/tx.go
Due: goimports -w

env
  go/cmd/osmosis/sample.env
Due: none

newline
  go/cmd/osmosis/sample.env
Due: none

feat: broadcast osmo txs to keplr (#476)
  go/cmd/osmosis/main.go
  go/cmd/osmosis/sample.env
  go/coinstacks/osmosis/api/handlers.go
  go/pkg/cosmos/cosmos.go
  go/pkg/cosmos/tx.go
Due: goimports -w

more abstract stateful service concept with thornode deployment
  go/coinstacks/cosmos/pulumi/Pulumi.sample.yaml
  go/coinstacks/cosmos/pulumi/config.ts
  go/coinstacks/cosmos/pulumi/index.ts
  go/coinstacks/osmosis/pulumi/Pulumi.sample.yaml
  go/coinstacks/osmosis/pulumi/index.ts
  go/coinstacks/thorchain/daemon/init.sh
  go/coinstacks/thorchain/daemon/readiness.sh
  go/coinstacks/thorchain/pulumi/Pulumi.yaml
  go/coinstacks/thorchain/pulumi/index.ts
  go/coinstacks/thorchain/pulumi/package.json
  go/coinstacks/thorchain/pulumi/tsconfig.json
  go/coinstacks/thorchain/pulumi/yarn.lock
  go/pulumi/src/api.ts
  go/pulumi/src/config.ts
  go/pulumi/src/daemon.ts
  go/pulumi/src/index.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

checkpoint
  go/coinstacks/thorchain/midgard/init.sh
  go/coinstacks/thorchain/midgard/readiness.sh
  go/coinstacks/thorchain/pulumi/index.ts
  go/coinstacks/thorchain/pulumi/midgard.ts
  go/coinstacks/thorchain/timescaledb/init.sh
  go/coinstacks/thorchain/timescaledb/readiness.sh
  go/pulumi/src/daemon.ts
  go/pulumi/src/index.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

chore: add keplr url for osmosis
  .circleci/config.yml
Due: none

get addrs from events instead of only messages
  go/coinstacks/cosmos/api/handlers.go
Due: goimports -w

more configuration
  go/coinstacks/thorchain/midgard/readiness.sh
  go/coinstacks/thorchain/pulumi/index.ts
  go/coinstacks/thorchain/timescaledb/init.sh
  go/coinstacks/thorchain/timescaledb/readiness.sh
  go/pulumi/src/statefulService.ts
Due: prettier --write

dynamic services array
  go/coinstacks/thorchain/pulumi/index.ts
  go/pulumi/src/config.ts
  go/pulumi/src/index.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

final cleanup
  go/coinstacks/thorchain/pulumi/index.ts
  go/coinstacks/thorchain/pulumi/midgard.ts
  go/pulumi/src/statefulService.ts
Due: prettier --write

working thornode dependency
  go/cmd/thorchain/main.go
  go/coinstacks/thorchain/api/api.go
  go/coinstacks/thorchain/api/handlers.go
  go/go.mod
  go/go.sum
  go/pkg/cosmos/websocket.go
Due: goimports -w

fix: detect addresses from both messages and events
  go/coinstacks/cosmos/api/handlers.go
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/thorchain/api/handlers.go
  go/pkg/cosmos/tx.go
Due: goimports -w

early continue in loop instead of deeper nesting
  go/pkg/cosmos/tx.go
Due: goimports -w

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.ts)
  goimports -w: any of: *.go
