Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

update blockbook api to handle legacy and new v4 token transfers keys
  node/coinstacks/common/api/src/evm/service.ts
  node/packages/blockbook/src/models.ts
  node/packages/blockbook/src/swagger.json
Due: prettier --write

update infra to currently deployed
  .circleci/config.yml
Due: none

remove geth archive config (will need to use erigon)
  node/coinstacks/bnbsmartchain/daemon/init-archive.sh
Due: none

add etherscan api key to sample env
  node/coinstacks/bnbsmartchain/sample.env
Due: none

chore(release): publish 8.2.0
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/bitcoincash/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/coinstacks/litecoin/api/package.json
  node/coinstacks/litecoin/pulumi/package.json
  node/coinstacks/optimism/api/package.json
  node/coinstacks/optimism/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/pulumi/package.json
Due: none

support both token transfer address keys (legacy and v4)
  node/coinstacks/avalanche/api/src/swagger.json
  node/coinstacks/bitcoin/api/src/swagger.json
  node/coinstacks/bitcoincash/api/src/swagger.json
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/dogecoin/api/src/swagger.json
  node/coinstacks/ethereum/api/src/swagger.json
  node/coinstacks/litecoin/api/src/swagger.json
  node/coinstacks/optimism/api/src/swagger.json
  node/packages/blockbook/src/models.ts
  node/packages/blockbook/src/swagger.json
Due: prettier --write

chore: upgrade blockbook to v0.4.0 (#620)
  .circleci/config.yml
  docs/volumes.md
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/api/src/swagger.json
  node/coinstacks/avalanche/indexer/config-archive.json
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/api/src/swagger.json
  node/coinstacks/bitcoin/indexer/config.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/bitcoincash/api/src/swagger.json
  node/coinstacks/bitcoincash/indexer/config.json
  node/coinstacks/bitcoincash/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/api/src/swagger.json
  node/coinstacks/dogecoin/indexer/config.json
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/api/src/swagger.json
  node/coinstacks/ethereum/indexer/config-ropsten.json
  node/coinstacks/ethereum/indexer/config.json
  node/coinstacks/ethereum/pulumi/package.json
  node/coinstacks/litecoin/api/package.json
  node/coinstacks/litecoin/api/src/swagger.json
  node/coinstacks/litecoin/indexer/config.json
  node/coinstacks/litecoin/pulumi/package.json
  node/coinstacks/optimism/api/package.json
  node/coinstacks/optimism/api/src/swagger.json
  node/coinstacks/optimism/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/Dockerfile
  node/packages/blockbook/package.json
  node/packages/blockbook/src/models.ts
  node/packages/blockbook/src/swagger.json
  node/pulumi/package.json
  pulumi/src/cluster/Pulumi.sample.yaml
Due: prettier --write

chore: upgrade avalanche to v1.9.9
  .circleci/config.yml
Due: none

chore: upgrade avalanche to v1.9.9 (#627)
  .circleci/config.yml
Due: none

chore: upgrade ethereum to v1.11.2
  .circleci/config.yml
Due: none

chore: upgrade ethereum to v1.11.2 (#628)
  .circleci/config.yml
Due: none

correct alias name
  .circleci/config.yml
Due: none

fix: handle 0 decimal tokens
  node/coinstacks/common/api/src/evm/service.ts
Due: prettier --write

fix: handle 0 decimal tokens (#630)
  node/coinstacks/common/api/src/evm/service.ts
Due: prettier --write

strip LogConfig from config.toml
  node/coinstacks/bnbsmartchain/daemon/Dockerfile
Due: none

use config.toml to ensure accurate gas prices from oracle
  node/coinstacks/bnbsmartchain/daemon/init.sh
Due: none

increase maxpeers in effort to stabalize sync
  node/coinstacks/bnbsmartchain/daemon/init.sh
Due: none

chore: enable pprof server
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/api.go
Due: goimports -w

upgrade local golangci-lint and download binary over go install
  go/Makefile
Due: none

chore: add pprof server (#631)
  go/Makefile
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/coinstacks/thorchain/api/api.go
Due: goimports -w

chore: upgrade avalanche to v1.9.19
  .circleci/config.yml
Due: none

chore: upgrade thorchain to v.1.106.0
  .circleci/config.yml
Due: none

chore: upgrade avalanche to v1.9.19 (#633)
  .circleci/config.yml
Due: none

chore: upgrade thorchain to v.1.106.0 (#632)
  .circleci/config.yml
Due: none

chore: use master for build and add ws read limit hack
  node/packages/blockbook/Dockerfile
Due: none

chore: upgrade avalanche to v1.9.11
  .circleci/config.yml
Due: none

update blockbook image version
  .circleci/config.yml
Due: none

chore: upgrade ethereum to v1.11.3
  .circleci/config.yml
Due: none

chore: upgrade cosmos to v9.0.0
  .circleci/config.yml
Due: none

chore: upgrade avalanche to v1.9.11 (#635)
  .circleci/config.yml
Due: none

chore: upgrade ethereum to v1.11.3 (#636)
  .circleci/config.yml
Due: none

comment commit hash and monkey patch ava-labs/coreth for posterity
  node/packages/blockbook/Dockerfile
Due: none

add blockbook commit hash
  .circleci/config.yml
  node/packages/blockbook/Dockerfile
Due: none

chore: use master for build and add ws read limit hack (#634)
  .circleci/config.yml
  node/packages/blockbook/Dockerfile
Due: none

Rebased and cleaned up
  pulumi/backuprunner/.gitignore
  pulumi/backuprunner/Dockerfile
  pulumi/backuprunner/package.json
  pulumi/backuprunner/sample-ss.yaml
  pulumi/backuprunner/src/backup.ts
  pulumi/backuprunner/src/index.ts
  pulumi/backuprunner/src/scaling.ts
  pulumi/backuprunner/src/snapshot.ts
  pulumi/backuprunner/tsconfig.json
  pulumi/backuprunner/yarn.lock
  pulumi/src/index.ts
  pulumi/src/statefulService.ts
  pulumi/src/util.ts
  pulumi/yarn.lock
Due: prettier --write

fix: cleanup ticker go routine on websocket close
  go/pkg/websocket/websocket.go
Due: goimports -w

fix: cleanup ticker goroutine on websocket close (#639)
  go/pkg/websocket/websocket.go
Due: goimports -w

chore: update blockbook to master@15c19ac (add bsc)
  .circleci/config.yml
  node/packages/blockbook/Dockerfile
Due: none

chore: update blockbook to master@15c19ac (add bsc) (#640)
  .circleci/config.yml
  node/packages/blockbook/Dockerfile
Due: none

use upstream blockbook
  .circleci/config.yml
Due: none
