Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

chore: adds page size validation to all UTXO and EVM coinstacks (#616)
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/common/api/src/utils.ts
  node/coinstacks/common/api/src/utxo/service.ts
Due: prettier --write

fix: early return on bad page params for cosmos / osmosis (#617)
  go/coinstacks/cosmos/api/api.go
  go/coinstacks/osmosis/api/api.go
  go/pkg/cosmos/api.go
Due: goimports -w

chore: update ci and iac for new us cluster
  .circleci/config.yml
  pulumi/src/statefulService.ts
Due: prettier --write

start adding polygon coinstack
  .circleci/config.yml
  docker-compose.yml
  node/coinstacks/polygon/api/Dockerfile
  node/coinstacks/polygon/api/nodemon.json
  node/coinstacks/polygon/api/package.json
  node/coinstacks/polygon/api/src/app.ts
  node/coinstacks/polygon/api/src/controller.ts
  node/coinstacks/polygon/api/tsconfig.json
  node/coinstacks/polygon/api/tsoa.json
  node/coinstacks/polygon/daemon/init.sh
  node/coinstacks/polygon/docker-compose.yml
  node/coinstacks/polygon/heimdall/init.sh
  node/coinstacks/polygon/indexer/Makefile
  node/coinstacks/polygon/indexer/config.json
  node/coinstacks/polygon/indexer/liveness.sh
  node/coinstacks/polygon/indexer/readiness.sh
  node/coinstacks/polygon/pulumi/Pulumi.yaml
  node/coinstacks/polygon/pulumi/index.ts
  node/coinstacks/polygon/pulumi/package.json
  node/coinstacks/polygon/pulumi/tsconfig.json
  node/coinstacks/polygon/sample.env
Due: prettier --write

dynamic l1 rpc endpoint for optimism
  node/coinstacks/optimism/dtl/init.sh
  node/coinstacks/optimism/pulumi/index.ts
Due: prettier --write

region scope prod pulumi stack
  .circleci/config.yml
Due: none

update cluster launcher
  pulumi/package.json
  pulumi/yarn.lock
Due: none

hoist pulumi ignore up one level
  .gitignore
  node/.gitignore
Due: none

test deploy
  .circleci/config.yml
Due: none

upgrade helm and attempt dependencies deploy
  .circleci/config.yml
Due: none

chore: cluster migration (#619)
  .circleci/config.yml
  .gitignore
  node/.gitignore
  node/coinstacks/optimism/dtl/init.sh
  node/coinstacks/optimism/pulumi/index.ts
  pulumi/package.json
  pulumi/src/statefulService.ts
  pulumi/yarn.lock
Due: prettier --write

download snapshot logic
  node/coinstacks/bnbsmartchain/daemon/init.sh
  node/coinstacks/bnbsmartchain/daemon/readiness.sh
  node/coinstacks/bnbsmartchain/pulumi/index.ts
Due: prettier --write

upgrade to v1.1.19 and use lz4 decompress
  node/coinstacks/bnbsmartchain/daemon/Dockerfile
  node/coinstacks/bnbsmartchain/daemon/init.sh
Due: none

snapshot and genesis
  node/coinstacks/polygon/daemon/init.sh
  node/coinstacks/polygon/pulumi/index.ts
  node/coinstacks/polygon/sample.env
Due: prettier --write

readiness probes
  node/coinstacks/polygon/daemon/readiness.sh
  node/coinstacks/polygon/heimdall/readiness.sh
Due: none

chore: increase eks node group min size
  .circleci/config.yml
Due: none

chore: upgrade blockbook to v0.4.0
  .circleci/config.yml
  node/packages/blockbook/Dockerfile
Due: none

remove cluster sample
  pulumi/src/cluster/Pulumi.sample.yaml
Due: none

avalanche archive config
  node/coinstacks/avalanche/indexer/config-archive.json
Due: none

update blockbook configs
  node/coinstacks/avalanche/indexer/config.json
  node/coinstacks/bitcoin/indexer/config.json
  node/coinstacks/bitcoincash/indexer/config.json
  node/coinstacks/dogecoin/indexer/config.json
  node/coinstacks/ethereum/indexer/config.json
  node/coinstacks/litecoin/indexer/config.json
Due: none

lz4 decompress
  node/coinstacks/bnbsmartchain/daemon/init.sh
Due: none

blockbook config cleanup
  node/coinstacks/avalanche/indexer/config-archive.json
  node/coinstacks/ethereum/indexer/config-ropsten.json
Due: none

updated volumes doc
  docs/volumes.md
Due: none

working snapshot
  node/coinstacks/bnbsmartchain/daemon/init.sh
  node/coinstacks/bnbsmartchain/pulumi/index.ts
Due: prettier --write

add indexer service
  node/coinstacks/polygon/indexer/config.json
  node/coinstacks/polygon/pulumi/index.ts
Due: prettier --write

use rocks db static lib to reduce docker size
  node/packages/blockbook/Dockerfile
Due: none

chore: upgrade avalanche blockbook to v0.4.0
  .circleci/config.yml
  node/coinstacks/avalanche/indexer/config.json
Due: none

chore: upgrade cosmos to v8.0.1
  .circleci/config.yml
Due: none

chore: upgrade cosmos to v8.0.1 (#622)
  .circleci/config.yml
Due: none

chore: upgrade avalanche blockbook to v0.4.0 (#621)
  .circleci/config.yml
  node/coinstacks/avalanche/indexer/config.json
Due: none

chore: upgrade geth to v1.11.1 and prysm to v3.2.1
  .circleci/config.yml
Due: none

chore: upgrade osmosis to v14.0.1
  .circleci/config.yml
Due: none

chore: increase eks worker node volume size
  .circleci/config.yml
  pulumi/package.json
  pulumi/src/cluster/index.ts
  pulumi/yarn.lock
Due: prettier --write

chore: upgrade geth to v1.11.1 and prysm to v3.2.1 (#623)
  .circleci/config.yml
Due: none

chore: upgrade osmosis to v14.0.1 (#624)
  .circleci/config.yml
Due: none

chore: increase eks worker node volume size (#625)
  .circleci/config.yml
  pulumi/package.json
  pulumi/src/cluster/index.ts
  pulumi/yarn.lock
Due: prettier --write

no 4byte aliases (testing sync speed)
  node/coinstacks/polygon/indexer/config.json
Due: none

update swagger examples and generate
  node/coinstacks/bnbsmartchain/api/src/controller.ts
  node/coinstacks/bnbsmartchain/api/src/swagger.json
Due: prettier --write

Revert "chore: upgrade osmosis to v14.0.1 (#624)"
  .circleci/config.yml
Due: none

chore(release): publish 8.2.0
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/bitcoincash/pulumi/package.json
  node/coinstacks/bnbsmartchain/api/package.json
  node/coinstacks/bnbsmartchain/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/coinstacks/litecoin/api/package.json
  node/coinstacks/litecoin/pulumi/package.json
  node/coinstacks/optimism/api/package.json
  node/coinstacks/optimism/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/pulumi/package.json
Due: none
