Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

revert unique datahub key for osmosis
  .circleci/config.yml
Due: none

Add alpha dns match for cutover
  node/coinstacks/common/pulumi/src/api.ts
Due: prettier --write

Add alpha dns match for cutover (#424)
  node/coinstacks/common/pulumi/src/api.ts
Due: prettier --write

update cluster launcher to support new external-dns version
  node/pulumi/package.json
Due: none

fix: json parse string
  node/coinstacks/common/api/src/middleware.ts
  node/yarn.lock
Due: prettier --write

reset timeout and default error code
  node/coinstacks/common/api/src/middleware.ts
  node/packages/blockbook/src/controller.ts
Due: prettier --write

fix: prevent overfetch
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/api/src/handlers.ts
Due: prettier --write

chore(release): publish 7.0.0
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/pulumi/package.json
Due: none

default retry count
  node/packages/blockbook/src/controller.ts
Due: prettier --write

increase ethereum indexer volume size for more IOPs
  .circleci/config.yml
Due: none

add avalanche indexer
  .circleci/config.yml
  node/coinstacks/avalanche/api/Dockerfile
  node/coinstacks/avalanche/api/nodemon.json
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/api/src/app.ts
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/api/src/handlers.ts
  node/coinstacks/avalanche/api/src/logger.ts
  node/coinstacks/avalanche/api/src/models.ts
  node/coinstacks/avalanche/api/src/types.ts
  node/coinstacks/avalanche/api/tsconfig.json
  node/coinstacks/avalanche/api/tsoa.json
  node/coinstacks/avalanche/docker-compose.yml
  node/coinstacks/avalanche/indexer/Makefile
  node/coinstacks/avalanche/indexer/config.json
  node/coinstacks/avalanche/pulumi/Pulumi.sample.yaml
  node/coinstacks/avalanche/pulumi/Pulumi.yaml
  node/coinstacks/avalanche/pulumi/config.ts
  node/coinstacks/avalanche/pulumi/index.ts
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/avalanche/pulumi/tsconfig.json
  node/coinstacks/avalanche/sample.env
  node/packages/blockbook/Dockerfile
  node/packages/blockbook/generate-config.sh
Due: prettier --write

add avalanche network
  docker-compose.yml
Due: none

default value to allow not deploying services
  .circleci/config.yml
Due: none

add avalanche indexer (#426)
  .circleci/config.yml
  docker-compose.yml
  node/coinstacks/avalanche/api/Dockerfile
  node/coinstacks/avalanche/api/nodemon.json
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/api/src/app.ts
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/api/src/handlers.ts
  node/coinstacks/avalanche/api/src/logger.ts
  node/coinstacks/avalanche/api/src/models.ts
  node/coinstacks/avalanche/api/src/types.ts
  node/coinstacks/avalanche/api/tsconfig.json
  node/coinstacks/avalanche/api/tsoa.json
  node/coinstacks/avalanche/docker-compose.yml
  node/coinstacks/avalanche/indexer/Makefile
  node/coinstacks/avalanche/indexer/config.json
  node/coinstacks/avalanche/pulumi/Pulumi.sample.yaml
  node/coinstacks/avalanche/pulumi/Pulumi.yaml
  node/coinstacks/avalanche/pulumi/config.ts
  node/coinstacks/avalanche/pulumi/index.ts
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/avalanche/pulumi/tsconfig.json
  node/coinstacks/avalanche/sample.env
  node/packages/blockbook/Dockerfile
  node/packages/blockbook/generate-config.sh
Due: prettier --write

fix: ignore empty config vars
  .circleci/config.yml
Due: none

fix: use correct parameter keys
  .circleci/config.yml
Due: none

fix: better api disable detection
  .circleci/config.yml
Due: none

fix: negate empty volume claim for no daemon support
  node/packages/blockbook/pulumi/index.ts
Due: prettier --write

chore: geth v1.10.19
  .circleci/config.yml
  node/coinstacks/ethereum/pulumi/Pulumi.sample.yaml
Due: none

chore: upgrade dependencies and any fallout
  .circleci/config.yml
  go/coinstacks/cosmos/pulumi/package.json
  go/coinstacks/cosmos/pulumi/yarn.lock
  go/coinstacks/osmosis/pulumi/package.json
  go/coinstacks/osmosis/pulumi/yarn.lock
  go/pulumi/package.json
  go/pulumi/yarn.lock
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/pulumi/package.json
  node/package.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/blockbook/src/controller.ts
  node/packages/blockbook/src/models.ts
  node/pulumi/package.json
  node/yarn.lock
Due: prettier --write

prettier fix
  node/monitoring/prometheus.ts
Due: prettier --write

use configured prettier rules
  node/.eslintrc
Due: none

lint-staged testing
  .husky/pre-commit
Due: none

unique commit message
  .husky/pre-commit
Due: none

chore: upgrade dependencies and fix any fallout (#433)
  .circleci/config.yml
  .husky/pre-commit
  go/coinstacks/cosmos/pulumi/package.json
  go/coinstacks/cosmos/pulumi/yarn.lock
  go/coinstacks/osmosis/pulumi/package.json
  go/coinstacks/osmosis/pulumi/yarn.lock
  go/pulumi/package.json
  go/pulumi/yarn.lock
  node/.eslintrc
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/api/src/controller.ts
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/api/src/controller.ts
  node/coinstacks/ethereum/pulumi/package.json
  node/monitoring/prometheus.ts
  node/package.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/packages/blockbook/src/controller.ts
  node/packages/blockbook/src/models.ts
  node/pulumi/package.json
  node/yarn.lock
Due: prettier --write

fix: upgrade pulumi plugin versions
  .circleci/config.yml
  node/pulumi/package.json
  node/yarn.lock
Due: none

osmo apr
  go/coinstacks/osmosis/api/handlers.go
  go/pkg/cosmos/osmosisEpochs.go
  go/pkg/cosmos/osmosisMint.go
  go/pkg/cosmos/staking.go
  go/pkg/cosmos/types.go
Due: goimports -w

bug: osmosis apr
  go/pkg/cosmos/osmosisMint.go
Due: goimports -w

cleanup logs and mess
  go/coinstacks/osmosis/api/handlers.go
Due: goimports -w

fix ci
  go/pkg/cosmos/osmosisEpochs.go
  go/pkg/cosmos/osmosisMint.go
  go/pkg/cosmos/types.go
Due: goimports -w

lint
  go/coinstacks/osmosis/api/handlers.go
  go/pkg/cosmos/staking.go
Due: goimports -w

remove logs and comment
  go/coinstacks/osmosis/api/handlers.go
  go/pkg/cosmos/osmosisMint.go
Due: goimports -w

ignore .vscode/
  node/.gitignore
Due: none

straight copy of bitcoin coinstack
  node/coinstacks/dogecoin/api/Dockerfile
  node/coinstacks/dogecoin/api/nodemon.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/api/src/app.ts
  node/coinstacks/dogecoin/api/src/controller.ts
  node/coinstacks/dogecoin/api/src/handlers.ts
  node/coinstacks/dogecoin/api/src/models.ts
  node/coinstacks/dogecoin/api/tsconfig.json
  node/coinstacks/dogecoin/api/tsoa.json
  node/coinstacks/dogecoin/daemon/init.sh
  node/coinstacks/dogecoin/daemon/readiness.sh
  node/coinstacks/dogecoin/docker-compose.yml
  node/coinstacks/dogecoin/indexer/Makefile
  node/coinstacks/dogecoin/indexer/config.json
  node/coinstacks/dogecoin/pulumi/Pulumi.sample.yaml
  node/coinstacks/dogecoin/pulumi/Pulumi.yaml
  node/coinstacks/dogecoin/pulumi/config.ts
  node/coinstacks/dogecoin/pulumi/index.ts
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/dogecoin/pulumi/tsconfig.json
  node/coinstacks/dogecoin/sample.env
Due: prettier --write

replace "bitcoin" with "dogecoin" in places
  node/coinstacks/dogecoin/api/Dockerfile
  node/coinstacks/dogecoin/api/nodemon.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/api/src/app.ts
  node/coinstacks/dogecoin/daemon/init.sh
  node/coinstacks/dogecoin/docker-compose.yml
  node/coinstacks/dogecoin/indexer/Makefile
  node/coinstacks/dogecoin/indexer/config.json
  node/coinstacks/dogecoin/pulumi/Pulumi.sample.yaml
  node/coinstacks/dogecoin/pulumi/Pulumi.yaml
  node/coinstacks/dogecoin/pulumi/config.ts
  node/coinstacks/dogecoin/pulumi/index.ts
  node/coinstacks/dogecoin/pulumi/package.json
Due: prettier --write

add dogecoin to circle config
  .circleci/config.yml
Due: none

disable dogecoin api for now
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.ts)
  goimports -w: any of: *.go
