Repository shapeshift/unchained: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, goimports -w

.lintstagedrc.json:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write",
  "*.go": "goimports -w"
}

comment prod dogecoin deploy for now
  .circleci/config.yml
Due: none

doge readiness probe
  .gitignore
  node/coinstacks/dogecoin/daemon/readiness.sh
Due: none

dogecoin blockbook config
  node/coinstacks/dogecoin/indexer/config.json
Due: none

remove duplicate gitignore .vscode
  .gitignore
  node/.gitignore
Due: none

update comment in doge Pulumi.sample.yaml to match actual doge image in use
  node/coinstacks/dogecoin/pulumi/Pulumi.sample.yaml
Due: none

fix: do not use provided chain config
  node/coinstacks/dogecoin/daemon/init.sh
  node/packages/blockbook/generate-config.sh
Due: none

rebuild blockbook image with avalanche unfinalized data fix
  node/coinstacks/dogecoin/daemon/init.sh
  node/packages/blockbook/Dockerfile
Due: none

specify port 8332 for dogecoind rpc interface
  node/coinstacks/dogecoin/daemon/init.sh
Due: none

specify port 8332 for dogecoind rpc interface (#436)
  node/coinstacks/dogecoin/daemon/init.sh
Due: none

use snowtrace explorer for avalanche internal txs
  node/coinstacks/avalanche/api/src/handlers.ts
Due: prettier --write

deploy api service
  .circleci/config.yml
Due: none

begin fresh sync of second avax indexer
  .circleci/config.yml
Due: none

Avax API Service (#437)
  .circleci/config.yml
  node/coinstacks/avalanche/api/src/handlers.ts
Due: prettier --write

begin fresh sync of second avax indexer (#438)
  .circleci/config.yml
Due: none

enable dogecoin api
  .circleci/config.yml
Due: none

enable dogecoin api (#439)
  .circleci/config.yml
Due: none

chore: update model names to reflect avalanche coinstack
  node/coinstacks/avalanche/api/src/app.ts
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/api/src/handlers.ts
  node/coinstacks/avalanche/api/src/models.ts
  node/coinstacks/avalanche/indexer/config.json
  node/coinstacks/ethereum/api/src/handlers.ts
Due: prettier --write

apr fixes
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
  go/pkg/cosmos/staking.go
Due: goimports -w

chore: update model names to reflect avalanche coinstack (#440)
  node/coinstacks/avalanche/api/src/app.ts
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/api/src/handlers.ts
  node/coinstacks/avalanche/api/src/models.ts
  node/coinstacks/avalanche/indexer/config.json
  node/coinstacks/ethereum/api/src/handlers.ts
Due: prettier --write

simplify and fix pr changes
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
Due: goimports -w

whoops
  go/coinstacks/osmosis/api/types.go
Due: goimports -w

remove unused
  go/pkg/cosmos/osmosisEpochs.go
Due: goimports -w

add error check
  go/coinstacks/osmosis/api/handlers.go
Due: goimports -w

suggested change
  go/coinstacks/osmosis/api/handlers.go
Due: goimports -w

feat: osmosis APR (#434)
  go/coinstacks/osmosis/api/handlers.go
  go/coinstacks/osmosis/api/types.go
  go/pkg/cosmos/osmosisMint.go
Due: goimports -w

chore: update lerna version (fixes parse-url security vulnerabilities)
  node/package.json
  node/yarn.lock
Due: none

chore(release): publish 7.1.0
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/pulumi/package.json
Due: none

chore(release): publish 7.1.0 (#456)
  node/coinstacks/avalanche/api/package.json
  node/coinstacks/avalanche/pulumi/package.json
  node/coinstacks/bitcoin/api/package.json
  node/coinstacks/bitcoin/pulumi/package.json
  node/coinstacks/common/api/package.json
  node/coinstacks/common/pulumi/package.json
  node/coinstacks/dogecoin/api/package.json
  node/coinstacks/dogecoin/pulumi/package.json
  node/coinstacks/ethereum/api/package.json
  node/coinstacks/ethereum/pulumi/package.json
  node/lerna.json
  node/packages/blockbook/package.json
  node/packages/blockbook/pulumi/package.json
  node/pulumi/package.json
Due: none

feat: add litecoin support
  .circleci/config.yml
  node/coinstacks/litecoin/api/Dockerfile
  node/coinstacks/litecoin/api/nodemon.json
  node/coinstacks/litecoin/api/package.json
  node/coinstacks/litecoin/api/src/app.ts
  node/coinstacks/litecoin/api/src/controller.ts
  node/coinstacks/litecoin/api/src/handlers.ts
  node/coinstacks/litecoin/api/src/models.ts
  node/coinstacks/litecoin/api/tsconfig.json
  node/coinstacks/litecoin/api/tsoa.json
  node/coinstacks/litecoin/daemon/init.sh
  node/coinstacks/litecoin/daemon/readiness.sh
  node/coinstacks/litecoin/docker-compose.yml
  node/coinstacks/litecoin/indexer/Makefile
  node/coinstacks/litecoin/indexer/config.json
  node/coinstacks/litecoin/pulumi/Pulumi.sample.yaml
  node/coinstacks/litecoin/pulumi/Pulumi.yaml
  node/coinstacks/litecoin/pulumi/config.ts
  node/coinstacks/litecoin/pulumi/index.ts
  node/coinstacks/litecoin/pulumi/package.json
  node/coinstacks/litecoin/pulumi/tsconfig.json
  node/coinstacks/litecoin/sample.env
Due: prettier --write

feat: add litecoin support (#457)
  .circleci/config.yml
  node/coinstacks/litecoin/api/Dockerfile
  node/coinstacks/litecoin/api/nodemon.json
  node/coinstacks/litecoin/api/package.json
  node/coinstacks/litecoin/api/src/app.ts
  node/coinstacks/litecoin/api/src/controller.ts
  node/coinstacks/litecoin/api/src/handlers.ts
  node/coinstacks/litecoin/api/src/models.ts
  node/coinstacks/litecoin/api/tsconfig.json
  node/coinstacks/litecoin/api/tsoa.json
  node/coinstacks/litecoin/daemon/init.sh
  node/coinstacks/litecoin/daemon/readiness.sh
  node/coinstacks/litecoin/docker-compose.yml
  node/coinstacks/litecoin/indexer/Makefile
  node/coinstacks/litecoin/indexer/config.json
  node/coinstacks/litecoin/pulumi/Pulumi.sample.yaml
  node/coinstacks/litecoin/pulumi/Pulumi.yaml
  node/coinstacks/litecoin/pulumi/config.ts
  node/coinstacks/litecoin/pulumi/index.ts
  node/coinstacks/litecoin/pulumi/package.json
  node/coinstacks/litecoin/pulumi/tsconfig.json
  node/coinstacks/litecoin/sample.env
Due: prettier --write

fix: use correct litecoin docker image
  .circleci/config.yml
Due: none

fix: correct image name
  .circleci/config.yml
Due: none

fix: use litecoind binary
  node/coinstacks/litecoin/daemon/init.sh
Due: none

fix: expose correct ltc rpc port
  node/coinstacks/litecoin/daemon/init.sh
Due: none

fix doge xpub api param detection
  node/coinstacks/dogecoin/api/src/controller.ts
Due: prettier --write

fix doge xpub api param detection (#458)
  node/coinstacks/dogecoin/api/src/controller.ts
Due: prettier --write

chore: deploy litecoin api
  .circleci/config.yml
Due: none

feat: add bitcoincash coinstack
  .circleci/config.yml
  docker-compose.yml
  node/coinstacks/bitcoincash/api/Dockerfile
  node/coinstacks/bitcoincash/api/nodemon.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/bitcoincash/api/src/app.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/handlers.ts
  node/coinstacks/bitcoincash/api/src/models.ts
  node/coinstacks/bitcoincash/api/tsconfig.json
  node/coinstacks/bitcoincash/api/tsoa.json
  node/coinstacks/bitcoincash/daemon/init.sh
  node/coinstacks/bitcoincash/daemon/readiness.sh
  node/coinstacks/bitcoincash/docker-compose.yml
  node/coinstacks/bitcoincash/indexer/Makefile
  node/coinstacks/bitcoincash/indexer/config.json
  node/coinstacks/bitcoincash/pulumi/Pulumi.sample.yaml
  node/coinstacks/bitcoincash/pulumi/Pulumi.yaml
  node/coinstacks/bitcoincash/pulumi/config.ts
  node/coinstacks/bitcoincash/pulumi/index.ts
  node/coinstacks/bitcoincash/pulumi/package.json
  node/coinstacks/bitcoincash/pulumi/tsconfig.json
  node/coinstacks/bitcoincash/sample.env
Due: prettier --write

feat: add bitcoincash coinstack (#463)
  .circleci/config.yml
  docker-compose.yml
  node/coinstacks/bitcoincash/api/Dockerfile
  node/coinstacks/bitcoincash/api/nodemon.json
  node/coinstacks/bitcoincash/api/package.json
  node/coinstacks/bitcoincash/api/src/app.ts
  node/coinstacks/bitcoincash/api/src/controller.ts
  node/coinstacks/bitcoincash/api/src/handlers.ts
  node/coinstacks/bitcoincash/api/src/models.ts
  node/coinstacks/bitcoincash/api/tsconfig.json
  node/coinstacks/bitcoincash/api/tsoa.json
  node/coinstacks/bitcoincash/daemon/init.sh
  node/coinstacks/bitcoincash/daemon/readiness.sh
  node/coinstacks/bitcoincash/docker-compose.yml
  node/coinstacks/bitcoincash/indexer/Makefile
  node/coinstacks/bitcoincash/indexer/config.json
  node/coinstacks/bitcoincash/pulumi/Pulumi.sample.yaml
  node/coinstacks/bitcoincash/pulumi/Pulumi.yaml
  node/coinstacks/bitcoincash/pulumi/config.ts
  node/coinstacks/bitcoincash/pulumi/index.ts
  node/coinstacks/bitcoincash/pulumi/package.json
  node/coinstacks/bitcoincash/pulumi/tsconfig.json
  node/coinstacks/bitcoincash/sample.env
Due: prettier --write

checkpoint
  node/coinstacks/avalanche/api/src/app.ts
  node/coinstacks/avalanche/api/src/controller.ts
  node/coinstacks/avalanche/api/src/evm/models.ts
  node/coinstacks/avalanche/api/src/evm/service.ts
  node/coinstacks/avalanche/api/src/evm/types.ts
  node/coinstacks/avalanche/api/src/handlers.ts
  node/coinstacks/bitcoin/api/src/models.ts
  node/coinstacks/bitcoincash/api/src/models.ts
  node/coinstacks/common/api/src/evm/models.ts
  node/coinstacks/common/api/src/evm/service.ts
  node/coinstacks/common/api/src/evm/types.ts
  node/coinstacks/common/api/src/index.ts
  node/coinstacks/common/api/src/models.ts
  node/coinstacks/dogecoin/api/src/models.ts
  node/coinstacks/litecoin/api/src/models.ts
Due: prettier --write
